geek002/post/202411/互联网搜索与分析.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 互联网搜索与分析
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1713262060182-source-1716911333343-target
      selected: false
      source: '1713262060182'
      sourceHandle: source
      target: '1716911333343'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1716911333343'
        sourceType: tool
        targetType: llm
      id: 1720758285748-source-1716959261724-target
      selected: false
      source: '1720758285748'
      sourceHandle: source
      target: '1716959261724'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1716911333343'
        sourceType: llm
        targetType: template-transform
      id: 1716959261724-source-1720758555344-target
      selected: false
      source: '1716959261724'
      sourceHandle: source
      target: '1720758555344'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 1716911333343-source-1720759755103-target
      selected: false
      source: '1716911333343'
      sourceHandle: source
      target: '1720759755103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: template-transform
      id: 1720759755103-source-1720761482451-target
      selected: false
      source: '1720759755103'
      sourceHandle: source
      target: '1720761482451'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: end
      id: 1720761482451-source-1713262577750-target
      selected: false
      source: '1720761482451'
      sourceHandle: source
      target: '1713262577750'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1716911333343'
        sourceType: iteration-start
        targetType: tool
      id: 1716911333343start0-source-1720758285748-target
      selected: false
      source: 1716911333343start0
      sourceHandle: source
      target: '1720758285748'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1713261835258-source-1730713239258-target
      selected: false
      source: '1713261835258'
      sourceHandle: source
      target: '1730713239258'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1730713239258-source-1713262060182-target
      selected: false
      source: '1730713239258'
      sourceHandle: source
      target: '1713262060182'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: 質問
          max_length: 148
          options: []
          required: true
          type: text-input
          variable: Question
      height: 90
      id: '1713261835258'
      position:
        x: 30
        y: 388.5
      positionAbsolute:
        x: 30
        y: 388.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\nimport time\ndef main(arg1) -> dict:\n    urls = re.findall(r'http[s]?://[^\\\
          s)]+', arg1)\n    # 创建一个新的列表，其中包含替换掉 \\\\\" 的URL\n    cleaned_urls = [url.replace('\\\
          \\\"', '') for url in urls]\n    cleaned_urls2 = [url.replace('\\\"', '')\
          \ for url in cleaned_urls]\n    cleaned_urls3 = [url.replace(']', '') for\
          \ url in cleaned_urls2]\n    cleaned_urls4 = [url.replace('}', '') for url\
          \ in cleaned_urls3]\n    cleaned_urls5 = [url.replace(',', '') for url in\
          \ cleaned_urls4]\n    return {\n        \"result\": cleaned_urls5,\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1730713239258'
          - text
          variable: arg1
      height: 54
      id: '1713262060182'
      position:
        x: 638
        y: 388.5
      positionAbsolute:
        x: 638
        y: 388.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1720761482451'
          - output
          variable: text
        selected: false
        title: End
        type: end
      height: 90
      id: '1713262577750'
      position:
        x: 2595
        y: 388.5
      positionAbsolute:
        x: 2595
        y: 388.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        height: 377
        iterator_selector:
        - '1713262060182'
        - result
        output_selector:
        - '1720758555344'
        - output
        output_type: array[string]
        selected: false
        startNodeType: tool
        start_node_id: 1716911333343start0
        title: Iteration
        type: iteration
        width: 985
      height: 377
      id: '1716911333343'
      position:
        x: 942
        y: 388.5
      positionAbsolute:
        x: 942
        y: 388.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 985
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        isIterationStart: true
        iteration_id: '1716911333343'
        provider_id: jina
        provider_name: jina
        provider_type: builtin
        selected: false
        title: JinaReader
        tool_configurations:
          gather_all_images_at_the_end: 0
          gather_all_links_at_the_end: 0
          image_caption: 0
          no_cache: 0
          proxy_server: null
          summary: 0
          target_selector: null
          wait_for_selector: null
        tool_label: JinaReader
        tool_name: jina_reader
        tool_parameters:
          request_params:
            type: mixed
            value: ''
          url:
            type: mixed
            value: '{{#1716911333343.item#}}'
        type: tool
      extent: parent
      height: 272
      id: '1720758285748'
      parentId: '1716911333343'
      position:
        x: 117
        y: 85
      positionAbsolute:
        x: 1059
        y: 473.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1001
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1716911333343'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5:1.5b
          provider: ollama
        prompt_template:
        - id: 1c7eeb97-1ebc-4579-b1ec-d0d649d57d2d
          role: system
          text: "Summarize the following text. \n{{#1720758285748.text#}}\n中文输出"
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: false
      extent: parent
      height: 98
      id: '1716959261724'
      parentId: '1716911333343'
      position:
        x: 419.8595111532961
        y: 85
      positionAbsolute:
        x: 1361.8595111532961
        y: 473.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1716911333343'
        selected: false
        template: '{{ arg1 }}\SP{{ text }}'
        title: Combine URL and Summary
        type: template-transform
        variables:
        - value_selector:
          - '1716911333343'
          - item
          variable: arg1
        - value_selector:
          - '1716959261724'
          - text
          variable: text
      extent: parent
      height: 54
      id: '1720758555344'
      parentId: '1716911333343'
      position:
        x: 725
        y: 85
      positionAbsolute:
        x: 1667
        y: 473.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "import time\ndef main(arg1) -> dict:\n    result = []\n    for item\
          \ in arg1:\n        url, text = item.split('\\\\SP')\n        text = text.replace('\\\
          n', ' ')\n        result.append({'url':url, 'text':text})\n    return {\n\
          \        \"result\": result,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: Split URL and Text Summary
        type: code
        variables:
        - value_selector:
          - '1716911333343'
          - output
          variable: arg1
      height: 54
      id: '1720759755103'
      position:
        x: 1987
        y: 388.5
      positionAbsolute:
        x: 1987
        y: 388.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '|URL|Summary|

          |---|---|

          {% for data in arg1 -%}

          |{{data.url}}|{{data.text}}|

          {% endfor -%}'
        title: Result in Table
        type: template-transform
        variables:
        - value_selector:
          - '1720759755103'
          - result
          variable: arg1
      height: 54
      id: '1720761482451'
      position:
        x: 2291.7524420276873
        y: 388.5
      positionAbsolute:
        x: 2291.7524420276873
        y: 388.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1716911333343start0
      parentId: '1716911333343'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 966
        y: 456.5
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: ''
        provider_id: 7c857ebe-6d0a-4201-9cdb-f2bf738e7f4c
        provider_name: 搜索工作流
        provider_type: workflow
        selected: false
        title: 搜索工作流
        tool_configurations: {}
        tool_label: 搜索工作流
        tool_name: search
        tool_parameters:
          query:
            type: mixed
            value: '{{#1713261835258.Question#}}'
        type: tool
      height: 54
      id: '1730713239258'
      position:
        x: 334
        y: 388.5
      positionAbsolute:
        x: 334
        y: 388.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -1178.4591652455433
      y: -330.8364854281481
      zoom: 1.3290060406033763
