geek002/post/202411/商品&服务评价.yml
app:
  description: 商品&服务评价
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 商品&服务评价
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: question-classifier
      id: 1730278410104-source-1730278473294-target
      source: '1730278410104'
      sourceHandle: source
      target: '1730278473294'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1730278473294-2-1730278696317-target
      source: '1730278473294'
      sourceHandle: '2'
      target: '1730278696317'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1730278473294-1-1730278530010-target
      source: '1730278473294'
      sourceHandle: '1'
      target: '1730278530010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1730278696317-1-17302788343230-target
      source: '1730278696317'
      sourceHandle: '1'
      target: '17302788343230'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1730278696317-2-17302788637440-target
      source: '1730278696317'
      sourceHandle: '2'
      target: '17302788637440'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1730278696317-1730278757644-17302788643760-target
      source: '1730278696317'
      sourceHandle: '1730278757644'
      target: '17302788643760'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 17302788343230-source-1730278904379-target
      source: '17302788343230'
      sourceHandle: source
      target: '1730278904379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 17302788637440-source-1730278904379-target
      source: '17302788637440'
      sourceHandle: source
      target: '1730278904379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 17302788643760-source-1730278904379-target
      source: '17302788643760'
      sourceHandle: source
      target: '1730278904379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 1730278530010-source-1730278904379-target
      source: '1730278530010'
      sourceHandle: source
      target: '1730278904379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: end
      id: 1730278904379-source-1730278970852-target
      source: '1730278904379'
      sourceHandle: source
      target: '1730278970852'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 商品id
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: productId
        - label: 评价
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: review
      height: 114
      id: '1730278410104'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 正面评价
        - id: '2'
          name: 负面评价
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: freeapi
          provider: openai_api_compatible
        query_variable_selector:
        - '1730278410104'
        - review
        selected: false
        title: 问题分类器
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 174
      id: '1730278473294'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ContentType:application/json
        method: get
        params: 'type:1

          productId:{{#1730278410104.productId#}}

          userId:{{#sys.user_id#}}

          review:{{#1730278410104.review#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://192.168.99.50:8080/customer/handle
        variables: []
      height: 108
      id: '1730278530010'
      position:
        x: 1048
        y: 756
      positionAbsolute:
        x: 1048
        y: 756
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 售后问题
        - id: '2'
          name: 快递问题
        - id: '1730278757644'
          name: 其他
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: freeapi
          provider: openai_api_compatible
        query_variable_selector:
        - '1730278410104'
        - review
        selected: false
        title: 问题分类器 2
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 210
      id: '1730278696317'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ContentType:application/json
        method: get
        params: 'type:2

          productId:{{#1730278410104.productId#}}

          userId:{{#sys.user_id#}}

          review:{{#1730278410104.review#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 (1)
        type: http-request
        url: http://192.168.99.50:8080/customer/handle
        variables: []
      height: 108
      id: '17302788343230'
      position:
        x: 1048
        y: 245.148698354997
      positionAbsolute:
        x: 1048
        y: 245.148698354997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ContentType:application/json
        method: get
        params: 'type:3

          productId:{{#1730278410104.productId#}}

          userId:{{#sys.user_id#}}

          review:{{#1730278410104.review#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 (2)
        type: http-request
        url: http://192.168.99.50:8080/customer/handle
        variables: []
      height: 108
      id: '17302788637440'
      position:
        x: 1048
        y: 398.148698354997
      positionAbsolute:
        x: 1048
        y: 398.148698354997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ContentType:application/json
        method: get
        params: 'type:4

          productId:{{#1730278410104.productId#}}

          userId:{{#sys.user_id#}}

          review:{{#1730278410104.review#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 (3)
        type: http-request
        url: http://192.168.99.50:8080/customer/handle
        variables: []
      height: 108
      id: '17302788643760'
      position:
        x: 1043
        y: 560.148698354997
      positionAbsolute:
        x: 1043
        y: 560.148698354997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1730278530010'
          - body
        - - '17302788343230'
          - body
        - - '17302788637440'
          - body
        - - '17302788643760'
          - body
      height: 189
      id: '1730278904379'
      position:
        x: 1352
        y: 245.148698354997
      positionAbsolute:
        x: 1352
        y: 245.148698354997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1730278904379'
          - output
          variable: output
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1730278970852'
      position:
        x: 1656
        y: 245.148698354997
      positionAbsolute:
        x: 1656
        y: 245.148698354997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 84.77657256172085
      y: 7.880404275797844
      zoom: 0.8705505632961242
