geek002/post/202411/宣传大师.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 宣传大师
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 欢迎使用宣传大师
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 搭建医患桥梁，好络维一步一个脚印去印证
    - 发布新产品 心电贴、心电卡片
    - 对接机构完成心电云部署
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1731408645390-llm
      source: '1731408645390'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1731408645390'
      position:
        x: 76.96856686697913
        y: 282
      positionAbsolute:
        x: 76.96856686697913
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5:1.5b
          provider: ollama
        prompt_template:
        - id: eb5bd0fe-2453-464e-9973-3d2c436a916e
          role: system
          text: '# Role: 企业宣传片导演 : 为好络维策划拍摄企业宣传片，撰写拍摄脚本


            ## Goals

            根据好络维的信息，创作一个展示其使命、愿景、价值观、技术成果和社会责任的宣传片脚本


            ## Constrains

            保持脚本的专业性和创意性，同时确保内容准确反映公司信息


            ## Skills

            具备导演视角和脚本编写能力，理解AI技术和企业社会责任


            ## Output format

            脚本格式，包括场景、镜头、旁白和视觉元素描述


            ## Workflow:

            1.分析提供的企业信息确定脚本主题和结构

            2.设计场景和镜头，展现公司的技术成果和应用案例

            3.编写旁白，强调公司的使命、愿景和价值观

            4.添加视觉元素，如图表、动画和实际应用场景，增强视觉效果

            5.结合社会责任部分，展示公司的社会贡献和科技向善的理念


            ## 企业信息：

            """企业名称：浙江好络维医疗技术有限公司

            使命：搭起医患亚健康的桥梁

            愿景：让专业医疗和健康管理走进千万家

            价值观：激情、极智、创新、人正

            公司简介：浙江好络维医疗技术有限公司成立于2006年，注册资金1.39亿元，公司成立以来，好络维创始人孙斌董事长带领全体好络维人，以搭起医患亚健康的桥梁为宗旨，让专业医疗和健康管理服务走入千家万户，经过15年的砥砺前行，好络维已经打造成为“无线智能数据采集终端研发+医疗健康大数据云平台建设+医疗健康服务挖掘”三位一体的国家高新技术企业，业务模式现已由B2B拓展到B2B2C和B2C模式。

            公司承担了十二五国家科技支撑计划课题“远程无线便携式多参数心电监护仪开发” 、国家工信部物联网发展专项研究 “医疗体域网中低功耗无线传感器节点产品的技术研发”
            、2016年工业转型升级“信息技术支撑健康养老产业创新与应用”、2018年“十三五”国家重点研发计划项目 “基于医疗‘互联网+’的国产创新医疗设备应用示范的《示范产品目录
            （第一批）》”等4项国家级支撑项目，获得了近百项国家专利，先后被评为国家级高新技术企业、浙江省重点企业研究院、浙江省高新技术企业研发中心等。

            平台研发实力雄厚。公司凭借深厚技术优势，先后开发了国际远程医疗平台、“995120”健康云平台、保障2015年“9.3”阅兵的生命卫士平台、慢病管理平台、区域心电云等平台，能够面向B端和C端用户，为政府、医院、基层医疗机构、家庭和个人等多维度用户提供资源支撑。

            大数据和人工智能发展迅速。公司基于基层医疗机构临床急救现状，集中首席医疗和IT专家开发了急诊分诊、诊断和处置辅助系统，为基层临床急救提供及时精准的AI辅助急救诊疗，能够有效解决基层临床急救资源不足问题，提高基层医疗质量“同质化”水平；公司多年积累的患者心电数据库达16T，基于大数据耗时10年开发的心电自动分析诊断算法，目前已经实现常规12导联心电图30大类204小类的自动诊断，是国内少数能满足临床医生心电报告书写规范、秒级出动态心电报告、自动生成心电特征描述的系统，能快速、专业、精准地为基层医疗机构提供远程AI诊断并向家庭、个人延伸，目前达到县级主任医师诊断水平，即将推出的“心电大脑”处于国内外领先地位，能够有效解决医疗资源缺乏的瓶颈问题。

            终端数据远程智能采集。各类无线智能可穿戴设备都已通过国家级科技成果鉴定，取得医疗器械二类生产许可证和注册证，产品被认定为浙江省装备制造业重点领域首台（套），集成度高，纳瓦级超低功耗，高效的嵌入式集成算法，可多维度同步采集心电、血压、血氧、呼吸、脉率、体温、体动、心音等数据，有效解决了医院、基层医疗机构EMR和区域卫生信息化EHR的最后一公里数据采集问题。

            国际远程会诊平台直接下沉。国家远程医疗与互联网医学中心、国家卫生计生委远程医疗管理与培训中心落户中日友好医院，由好络维承接远程医疗平台建设，2018年被授予“国家远程医疗应用示范基地”，通过国家远程医疗与互联网医学中心可对接国外麻省总医院、梅奥诊所等高端资源，平台拥有国内32个省市的3000多家医院，提供64个学科、12个国家级临床重点专科服务和20000多名主治医生职称以上的医生资源，与中日友好医院联手开展远程医疗服务和远程教育培训，为基层医疗机构下沉优质医疗和教育培训资源，为百姓提供个性化的专业医疗健康服务。

            业务模式布局清晰。当前公司正由B2B向B2B2C和B2C业务模式战略转型，并与华为、阿里、平安等深入合作，面向C端用户的商业模式业已形成。B2B2C模式，利用“无线智能终端+大数据云平台+人工智能辅助诊断+国家级远程医疗”集成优势做到采集、检查和诊断下沉，帮助政府落实基本公共卫生服务内容，公司获得良好经济和广泛社会效益；B2C模式，利用公司平台+产品+算法优势，面向C端用户提供云健康管理服务；智慧家庭、个人健康管理模式，公司具有雄厚的C端健康管理实力和资源，是工信部、民政部、国家卫生健康委智慧健康养老服务标准的参与制定者，研发的慢病管理平台和智能终端设备被选入三部委《智慧健康养老产品及推广目录（2018年版）》，新一代无感智能看护仪，采用雷达、脉冲、红外等技术，可有效解决智慧家庭、个人健康管理问题，解决方案被写入我国2014年《智能养老蓝皮书》，2017年被三部委授予“智慧健康养老应用示范试点企业”。

            雄关漫道真如铁，而今迈步从头越。好络维人作为中国医疗物联网企业的倡导者和先行者，将不断提升企业品质和服务质量，以“铁一般信仰、铁一般信念、铁一般的纪律、铁一般的担当”的精神，致力于打造中国专业的互联网+医疗健康平台，让互联网+医疗健康走进千家万户，为国解忧，为民造福！。"""'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 118.87732778006949
      y: 215.9720558786199
      zoom: 0.6597539553864471
