geek002/post/202411/工具类：最新资讯.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 工具类：最新资讯
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1730442786328-source-1730442813130-target
      source: '1730442786328'
      sourceHandle: source
      target: '1730442813130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1730442813130-source-1730455148569-target
      source: '1730442813130'
      sourceHandle: source
      target: '1730455148569'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1730455148569-source-answer-target
      source: '1730455148569'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1730442786328'
      position:
        x: 30
        y: 362
      positionAbsolute:
        x: 30
        y: 362
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1730455148569.result#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 942
        y: 362
      positionAbsolute:
        x: 942
        y: 362
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: User-Agent:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
          (KHTML, like Gecko) Chrome/100.0.1000.0 Safari/537.36
        method: get
        params: ''
        selected: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://cn.bing.com/search?cvid=488da64a68b34d59abd61df671154644&gs_lcrp=EgRlZGdlKgYIABBFGDsyBggAEEUYOzIGCAEQRRg8MgYIAhAAGEAyBggDEAAYQDIGCAQQABhAMgYIBRBFGDwyBggGEEUYPDIGCAcQRRhBMgYICBBFGEHSAQc2NDlqMGo5qAIIsAIB&FORM=ANAB01&DAF0=1&PC=U531&q={{#sys.query#}}
        variables: []
      height: 273
      id: '1730442813130'
      position:
        x: 334
        y: 362
      positionAbsolute:
        x: 334
        y: 362
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\nimport json\n\ndef extract_links(html):\n    # 正则表达式匹配 <a>\
          \ 标签及其 href 属性\n    pattern = r'<a\\s+[^>]*href=\"([^\"]*)\"[^>]*>(.*?)</a>'\n\
          \    matches = re.findall(pattern, html)\n\n    # 创建结果列表\n    links = []\n\
          \    for url, title in matches:\n        url = url.strip()\n        title\
          \ = re.sub(r'<[^>]+>', '', title).strip()  # 去掉 HTML 标签，只保留文字\n\n      \
          \  # 过滤条件\n        if (\n            url.startswith('http') and\n      \
          \      'gov.cn' not in url and\n            'microsoft.com' not in url and\n\
          \            'http://' not in title and\n            'https://' not in title\n\
          \        ):\n            links.append({'title': title, 'url': url})\n  \
          \  \n    # 返回 JSON 字符串\n    return json.dumps(links, ensure_ascii=False)\
          \  # ensure_ascii=False 以支持中文字符\n\ndef main(arg1: str) -> dict:\n    return\
          \ {\n        \"result\": extract_links(arg1)[:80000],\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1730442813130'
          - body
          variable: arg1
      height: 54
      id: '1730455148569'
      position:
        x: 638
        y: 362
      positionAbsolute:
        x: 638
        y: 362
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 64.22788091409325
      y: -217.96172109212625
      zoom: 1.218770788614574
