geek002/post/202411/搜索工作流.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 搜索工作流
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1730708231645-source-1730708240725-target
      source: '1730708231645'
      sourceHandle: source
      target: '1730708240725'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1730708240725-source-1730708299789-target
      source: '1730708240725'
      sourceHandle: source
      target: '1730708299789'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1730708299789-source-1730708320445-target
      source: '1730708299789'
      sourceHandle: source
      target: '1730708320445'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: query
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: query
      height: 90
      id: '1730708231645'
      position:
        x: -15
        y: 282
      positionAbsolute:
        x: -15
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: User-Agent:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
          (KHTML, like Gecko) Chrome/100.0.1000.0 Safari/537.36
        method: get
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://cn.bing.com/search?q={{#1730708231645.query#}}&filters=ex1%3a%22ez2%22&cvid=7d79f7adcf8f4a65a2210567ba692013&gs_lcrp=EgRlZGdlKgYIABAAGEAyBggAEAAYQDIGCAEQRRg8MgYIAhAuGEAyBggDEAAYQDIGCAQQABhAMgYIBRAuGEAyBggGEAAYQDIGCAcQRRg8MgYICBBFGDzSAQgxMTU5ajBqNKgCCLACAQ&FORM=000017&DAF0=1&PC=U531&qpvt={{#1730708231645.query#}}
        variables: []
      height: 308
      id: '1730708240725'
      position:
        x: 314
        y: 287
      positionAbsolute:
        x: 314
        y: 287
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\nimport json\n\ndef extract_links(html):\n    # 正则表达式匹配 <a>\
          \ 标签及其 href 属性\n    pattern = r'<a\\s+[^>]*href=\"([^\"]*)\"[^>]*>(.*?)</a>'\n\
          \    matches = re.findall(pattern, html)\n\n    # 创建结果列表\n    links = []\n\
          \    for url, title in matches:\n        url = url.strip()\n        title\
          \ = re.sub(r'<[^>]+>', '', title).strip()  # 去掉 HTML 标签，只保留文字\n\n      \
          \  # 过滤条件\n        if (\n            url.startswith('http') and\n      \
          \      'gov.cn' not in url and\n            'microsoft.com' not in url and\n\
          \            'http://' not in title and\n            'https://' not in title\n\
          \        ):\n            links.append({'title': title, 'url': url})\n  \
          \  \n    # 返回 JSON 字符串\n    return json.dumps(links, ensure_ascii=False)\
          \  # ensure_ascii=False 以支持中文字符\n\ndef main(arg1: str) -> dict:\n    return\
          \ {\n        \"result\": extract_links(arg1)[:80000],\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1730708240725'
          - body
          variable: arg1
      height: 54
      id: '1730708299789'
      position:
        x: 618
        y: 287
      positionAbsolute:
        x: 618
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1730708299789'
          - result
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1730708320445'
      position:
        x: 922
        y: 287
      positionAbsolute:
        x: 922
        y: 287
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -146.3031903072324
      y: -32.482039539216544
      zoom: 0.9696631367333498
