geek002/post/202411/数据库取表.yml
app:
  description: sql查询前置，检索相关表结构
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 数据库取表
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1717550749131-source-1718336114849-target
      source: '1717550749131'
      sourceHandle: source
      target: '1718336114849'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1718336114849-source-1718345396509-target
      source: '1718336114849'
      sourceHandle: source
      target: '1718345396509'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1718345396509-source-1718336169045-target
      source: '1718345396509'
      sourceHandle: source
      target: '1718336169045'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: query
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: query
      height: 90
      id: '1717550749131'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 1076f36a-73e5-44b3-a4f9-766a17aafc65
        - f2c202bd-0c71-4cfa-b852-7d3c3c533f71
        desc: ''
        query_variable_selector:
        - '1717550749131'
        - query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: qwen-turbo-chat
            provider: tongyi
        title: 知识检索
        type: knowledge-retrieval
      height: 54
      id: '1718336114849'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1718345396509'
          - result
          variable: tables
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1718336169045'
      position:
        x: 1100
        y: 282
      positionAbsolute:
        x: 1100
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\nfunction main({result}) {\n    return {\n        result: result.map(i=>i.content)\n\
          \    }\n}\n"
        code_language: javascript
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: true
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1718336114849'
          - result
          variable: result
      height: 54
      id: '1718345396509'
      position:
        x: 721
        y: 282
      positionAbsolute:
        x: 721
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 13
      y: 14.5
      zoom: 1
