geek002/post/202411/测试模板.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 测试模板
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1731571734103-llm
      source: '1731571734103'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template-transform
      id: llm-source-1731571743200-target
      source: llm
      sourceHandle: source
      target: '1731571743200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: answer
      id: 1731576742586-source-answer-target
      source: '1731576742586'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: tool
      id: 1731571743200-source-1731576742586-target
      source: '1731571743200'
      sourceHandle: source
      target: '1731576742586'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1731571734103'
      position:
        x: 30
        y: 261
      positionAbsolute:
        x: 30
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5:1.5b
          provider: ollama
        prompt_template:
        - id: d839622b-30e2-47b2-a310-4be27392fc4f
          role: system
          text: ''
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm
      position:
        x: 334
        y: 261
      positionAbsolute:
        x: 334
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}

          ```html

          {{#1731571743200.output#}}

          ```'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 122
      id: answer
      position:
        x: 1246
        y: 261
      positionAbsolute:
        x: 1246
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "<div class=\"medal-card\">\r\n    <div class=\"medal-level\">LV.1</div>\r\
          \n    <div class=\"medal-icon\">\r\n        \U0001F4AC\r\n    </div>\r\n\
          \    <div class=\"medal-content\">\r\n        <h3 class=\"medal-title\"\
          >初学者勋章</h3>\r\n        <p class=\"medal-description\">完成首次对话</p>\r\n   \
          \     <div class=\"medal-progress\">\r\n            <div class=\"progress-bar\"\
          \ style=\"width: 100%\"></div>\r\n            <span class=\"progress-text\"\
          >1/1</span>\r\n        </div>\r\n    </div>\r\n    <style>\r\n        .medal-card\
          \ {\r\n            width: 300px;\r\n            padding: 20px;\r\n     \
          \       background: white;\r\n            border-radius: 20px 0 0 20px;\r\
          \n            box-shadow: \r\n                0 5px 15px rgba(0, 0, 0, 0.08),\r\
          \n                0 3px 3px rgba(0, 0, 0, 0.05);\r\n            display:\
          \ flex;\r\n            align-items: center;\r\n            gap: 16px;\r\n\
          \            transition: all 0.3s ease;\r\n            cursor: pointer;\r\
          \n            margin: 10px;\r\n            position: relative;\r\n     \
          \       background: linear-gradient(145deg, #ffffff, #f9f9f9);\r\n     \
          \       border: 1px solid rgba(0, 0, 0, 0.1);\r\n        }\r\n\r\n     \
          \   .medal-card[data-level=\"1\"] { border-color: #B8C5D6; }\r\n       \
          \ .medal-card[data-level=\"2\"] { border-color: #A7C7E7; }\r\n        .medal-card[data-level=\"\
          3\"] { border-color: #FFD700; }\r\n        .medal-card[data-level=\"4\"\
          ] { border-color: #C0C0C0; }\r\n        .medal-card[data-level=\"5\"] {\
          \ border-color: #FFB900; }\r\n\r\n        .medal-card:hover {\r\n      \
          \      transform: translateY(-3px);\r\n            box-shadow: \r\n    \
          \            0 8px 20px rgba(0, 0, 0, 0.12),\r\n                0 3px 3px\
          \ rgba(0, 0, 0, 0.08);\r\n        }\r\n\r\n        .medal-level {\r\n  \
          \          position: absolute;\r\n            top: 0;\r\n            right:\
          \ 0;\r\n            background: #B8C5D6;\r\n            color: white;\r\n\
          \            padding: 5px 12px;\r\n            font-size: 14px;\r\n    \
          \        font-weight: bold;\r\n            text-shadow: 0 1px 2px rgba(0,0,0,0.2);\r\
          \n        }\r\n\r\n        .medal-icon {\r\n            font-size: 40px;\r\
          \n            text-shadow: 0 2px 4px rgba(0,0,0,0.1);\r\n            position:\
          \ relative;\r\n            z-index: 1;\r\n        }\r\n\r\n        .medal-content\
          \ {\r\n            flex: 1;\r\n            position: relative;\r\n     \
          \       z-index: 1;\r\n        }\r\n\r\n        .medal-title {\r\n     \
          \       margin: 0;\r\n            color: #333;\r\n            font-size:\
          \ 18px;\r\n            font-weight: bold;\r\n        }\r\n\r\n        .medal-description\
          \ {\r\n            margin: 5px 0;\r\n            color: #666;\r\n      \
          \      font-size: 14px;\r\n            line-height: 1.4;\r\n        }\r\n\
          \r\n        .medal-progress {\r\n            margin-top: 8px;\r\n      \
          \      background: #f0f0f0;\r\n            height: 6px;\r\n            border-radius:\
          \ 3px;\r\n            position: relative;\r\n        }\r\n\r\n        .progress-bar\
          \ {\r\n            height: 100%;\r\n            background: #B8C5D6;\r\n\
          \            border-radius: 3px;\r\n            transition: width 0.3s ease;\r\
          \n        }\r\n\r\n        .progress-text {\r\n            position: absolute;\r\
          \n            right: 0;\r\n            top: -18px;\r\n            font-size:\
          \ 12px;\r\n            color: #666;\r\n        }\r\n\r\n        .medal-card::after\
          \ {\r\n            content: '';\r\n            position: absolute;\r\n \
          \           top: 0;\r\n            right: 0;\r\n            width: 8px;\r\
          \n            height: 100%;\r\n            background: #B8C5D6;\r\n    \
          \    }\r\n    </style>\r\n</div> "
        title: 模板转换
        type: template-transform
        variables: []
      height: 54
      id: '1731571743200'
      position:
        x: 638
        y: 261
      positionAbsolute:
        x: 638
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: ea579062-682a-4e99-bdb4-0a8d26a9d96d
        provider_name: 提取JSON
        provider_type: api
        selected: false
        title: repairJson
        tool_configurations: {}
        tool_label: repairJson
        tool_name: repairJson
        tool_parameters:
          malformedJSON:
            type: mixed
            value: '{{#sys.query#}}'
        type: tool
      height: 54
      id: '1731576742586'
      position:
        x: 942
        y: 261
      positionAbsolute:
        x: 942
        y: 261
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -158.99999999999977
      y: 31
      zoom: 0.9999999999999999
