geek002/post/202411/测试图表.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 测试图表
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 53422d15-83eb-476f-9587-e3117f93e07c
    name: echarts
    value: 1. 折线图（Line Chart）模板，适用场景：适用于对比不同类别的数值大小，如一周内每天的销售额、不同产品的销量等。 {"xAxis":{"type":"category","data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]},"yAxis":{"type":"value"},"series":[{"data":[820,932,901,934,1290,1330,1320],"type":"line","smooth":true,"lineStyle":{"width":2,"color":"#5470C6"},"areaStyle":{"color":"rgba(84,
      112, 198, 0.2)"}}]}   2. 饼图（Pie Chart）模板，适用场景：适用于分析趋势变化，如时间序列数据（如温度变化、股价走势）或数据的波动情况。
      {"tooltip":{"trigger":"item"},"legend":{"top":"5%","left":"center"},"series":[{"name":"Access
      From","type":"pie","radius":["40%","70%"],"avoidLabelOverlap":false,"itemStyle":{"borderRadius":10,"borderColor":"#fff","borderWidth":2},"label":{"show":false,"position":"center"},"emphasis":{"label":{"show":true,"fontSize":"20","fontWeight":"bold"}},"labelLine":{"show":false},"data":[{"value":1048,"name":"Search
      Engine"},{"value":735,"name":"Direct"},{"value":580,"name":"Email"},{"value":484,"name":"Union
      Ads"},{"value":300,"name":"Video Ads"}]}]}   3. 散点图（Scatter Plot）模板，适用场景：适用于显示不同部分在整体中的占比，如市场份额、预算分配等。
      {"xAxis":{"type":"value"},"yAxis":{"type":"value"},"series":[{"symbolSize":20,"data":[[10.0,8.04],[8.07,6.95],[13.0,7.58],[9.05,8.81],[11.0,8.33],[14.0,9.96],[6.08,7.24],[4.08,4.26]],"type":"scatter","itemStyle":{"color":"#91CC75"}}]}   4.
      堆叠柱状图（Stacked Bar Chart）模板，适用场景：适用于显示两变量之间的关系，如收入和支出之间的关系、体重与身高的关系等。 {"tooltip":{"trigger":"axis","axisPointer":{"type":"shadow"}},"legend":{},"xAxis":{"type":"category","data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]},"yAxis":{"type":"value"},"series":[{"name":"Direct","type":"bar","stack":"total","data":[320,302,301,334,390,330,320],"itemStyle":{"color":"#5470C6"}},{"name":"Email","type":"bar","stack":"total","data":[120,132,101,134,90,230,210],"itemStyle":{"color":"#91CC75"}},{"name":"Union
      Ads","type":"bar","stack":"total","data":[220,182,191,234,290,330,310],"itemStyle":{"color":"#EE6666"}},{"name":"Video
      Ads","type":"bar","stack":"total","data":[150,212,201,154,190,330,410],"itemStyle":{"color":"#73C0DE"}}]}  5.
      雷达图（Radar Chart）模板，适用场景：适合展示总量构成及不同部分的变化情况，如产品各渠道的销量，或年度支出中各部门的占比。 {"tooltip":{"trigger":"item"},"legend":{"data":["Allocated
      Budget","Actual Spending"]},"radar":{"indicator":[{"name":"Sales","max":6500},{"name":"Administration","max":16000},{"name":"Information
      Tech","max":30000},{"name":"Customer Support","max":38000},{"name":"Development","max":52000},{"name":"Marketing","max":25000}]},"series":[{"name":"Budget
      vs spending","type":"radar","data":[{"value":[4200,3000,20000,35000,50000,18000],"name":"Allocated
      Budget"},{"value":[5000,14000,28000,26000,42000,21000],"name":"Actual Spending"}]}]}
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 图表测试
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 中国医学专家指出，目前中国“亚健康”人群比例达70%。 世界卫生组织根据近半个世纪的研究成果，将“健康”定义为“不但是身体没有疾病或虚弱，还要有完整的生理、心理状态和社会适应能力”。据专家介绍，中国符合世界卫生组织关于健康定义的人群只占总人口数的15%，与此同时，有15%的人处在疾病状态中，剩下70%的人处在“亚健康”状态。通俗地说，就是这70%的人通常没有器官、组织、功能上的病症和缺陷，但是自我感觉不适，疲劳乏力，反应迟钝、活力降低、适应力下降，经常处在焦虑、烦乱、无聊、无助的状态中，自觉活得很累。
      专家指出，亚健康状态多种多样，几乎每种疾病都可能有与之相近的亚健康表现。医学界，包括医学教育界应将工作的重点从单纯的防病、治病转到关注健康、关注亚健康上来，把70%的亚健康人群争取到健康队伍中来。
    - "2023年\t2022年\t本年比上年 增减\t2021年 营业总收入（元） 11,081,439,282.37 12,485,576,441.96\
      \ -11.25% 13,094,320,648.24 归属于上市公司股东的净利润（元） 8,193,469,277.99 8,509,461,233.33\
      \ -3.71% 8,552,927,696.06 归属于上市公司股东的扣除非经常性损益的净利润（元） 7,861,598,966.25 8,204,461,568.37\
      \ -4.18% 8,440,303,766.19 经营活动产生的现金流量净额（元） -3,137,724,690.98 1,277,465,895.39\
      \ -345.62% 8,974,259,181.75 基本每股收益（元/股） 0.52 0.54 -3.70% 0.57 稀释每股收益（元/股） 0.52\
      \ 0.54 -3.70% 0.57 加权平均净资产收益率 11.94% 14.40% -2.46% 22.11% 2023年末 2022年末 本年末比\
      \ 上年末增减 2021年末 资产总额（元） 239,578,320,552.16 211,880,730,164.65 13.07% 185,020,253,993.91\
      \ 归属于上市公司股东的净资产（元） 71,962,860,559.82 65,164,663,223.24 10.43% 44,040,236,566.54"
    - 今天是2024-11-11，近期几天的心率值，84,84,83,77,68,69,71,60,62,65,69,61,62,67,69,63,58,64,74,75,64,64,77,71,61,58,49,53,61,60,62  ，请使用图表展示趋势
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1731036052218-llm
      selected: false
      source: '1731036052218'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1731048734679-source-1731044822181-target
      selected: false
      source: '1731048734679'
      sourceHandle: source
      target: '1731044822181'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: llm-source-1731048734679-target
      source: llm
      sourceHandle: source
      target: '1731048734679'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1731036052218'
      position:
        x: 30
        y: 354.5
      positionAbsolute:
        x: 30
        y: 354.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - env
          - echarts
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            num_predict: 40098
            temperature: 0.7
          mode: chat
          name: qwen2.5:7b
          provider: ollama
        prompt_template:
        - id: 1c062137-f364-4e0a-a54f-f61846e4744e
          role: system
          text: 请先学习{{#context#}}中的模板知识，并充分理解每种模板适用的场景。
        - id: 89c368a7-a0a6-4b3c-ac06-d70a2f611c2d
          role: user
          text: '请回答 {{#sys.query#}} 问题，并根据问题列举出数据支撑你的观点，自己收集，并替换掉模板内的标题和数据，结合echarts配置分析用哪种配置比较合适，就输出哪种配置，注意：echarts
            配置需要使用下面格式包裹输出。 只需要 echarts 配置片段。请把你收集的数据，替换掉配置模板中的数据。

            输出

            {{总结结论}}

            {{代码片段}}'
        - id: cf2c09c2-ed38-4909-94ee-f89770db994d
          role: assistant
          text: '```echarts

            {echarts 配置代码}

            ```'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm
      position:
        x: 332
        y: 354.5
      positionAbsolute:
        x: 332
        y: 354.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1731048734679.result#}}

          '
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1731044822181'
      position:
        x: 969.2499320860809
        y: 354.5
      positionAbsolute:
        x: 969.2499320860809
        y: 354.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    return {\n        \"result\": arg1.replace(\"\
          ```json\",\"```echarts\"),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: true
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: arg1
      height: 54
      id: '1731048734679'
      position:
        x: 621.6278999440738
        y: 354.5
      positionAbsolute:
        x: 621.6278999440738
        y: 354.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -133.61509747790944
      y: -125.50424683305687
      zoom: 1.0800597212636867
