geek002/post/202411/清理隐私.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 清理隐私
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1730792437023-source-1730792443372-target
      source: '1730792437023'
      sourceHandle: source
      target: '1730792443372'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1730792443372-source-1730792663619-target
      source: '1730792443372'
      sourceHandle: source
      target: '1730792663619'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: query
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: query
      height: 90
      id: '1730792437023'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\nimport re\n\ndef clean_sensitive_data(input_str):\n    # 清理手机号 (假设是中国大陆手机号\
          \ 11 位)\n    phone_pattern = r'(\\+?86)?\\s*(1[3-9]\\d{9})'\n    input_str\
          \ = re.sub(phone_pattern, '[REDACTED_PHONE]', input_str)\n    \n    # 清理邮箱地址\n\
          \    email_pattern = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}'\n\
          \    input_str = re.sub(email_pattern, '[REDACTED_EMAIL]', input_str)\n\
          \    \n    # 清理身份证号 (假设是18位身份证号)\n    id_card_pattern = r'\\d{17}[\\dXx]'\n\
          \    input_str = re.sub(id_card_pattern, '[REDACTED_ID]', input_str)\n \
          \   \n    # 清理其他可能的敏感信息（可根据需求扩展）\n    \n    return input_str\n\ndef main(arg1:\
          \ str) -> dict:\n    return {\n        \"result\": clean_sensitive_data(arg1\
          \ ),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: true
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1730792437023'
          - query
          variable: arg1
      height: 54
      id: '1730792443372'
      position:
        x: 383
        y: 282
      positionAbsolute:
        x: 383
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs: []
        selected: false
        title: 结束
        type: end
      height: 54
      id: '1730792663619'
      position:
        x: 687
        y: 282
      positionAbsolute:
        x: 687
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 179.03135179666015
      y: -54.40161117866745
      zoom: 1.1486983549970353
