geek002/post/202411/验证并行.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 验证并行
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1724816625228-source-llm-target
      selected: false
      source: '1724816625228'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1724816625228-source-17248166805710-target
      source: '1724816625228'
      sourceHandle: source
      target: '17248166805710'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1724816625228-source-17248166823210-target
      source: '1724816625228'
      sourceHandle: source
      target: '17248166823210'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: llm-source-1724821147504-target
      source: llm
      sourceHandle: source
      target: '1724821147504'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 17248166805710-source-1724821147504-target
      source: '17248166805710'
      sourceHandle: source
      target: '1724821147504'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 17248166823210-source-1724821147504-target
      source: '17248166823210'
      sourceHandle: source
      target: '1724821147504'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1724816625228-source-1724821559068-target
      source: '1724816625228'
      sourceHandle: source
      target: '1724821559068'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1724821559068-source-1724821147504-target
      source: '1724821559068'
      sourceHandle: source
      target: '1724821147504'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1724816625228'
      position:
        x: 30
        y: 249
      positionAbsolute:
        x: 30
        y: 249
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5:1.5b
          provider: ollama
        prompt_template:
        - id: aa4d1171-252f-4772-b4fc-520ef39a8ece
          role: system
          text: 我是一个乐于助人的助手
        selected: false
        title: gpt-4o
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: false
      height: 98
      id: llm
      position:
        x: 334
        y: 249
      positionAbsolute:
        x: 334
        y: 249
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5:7b
          provider: ollama
        prompt_template:
        - id: aa4d1171-252f-4772-b4fc-520ef39a8ece
          role: system
          text: 我是一个乐于助人的助手
        selected: false
        title: claude-3-5-sonnet
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: false
      height: 98
      id: '17248166805710'
      position:
        x: 334
        y: 387
      positionAbsolute:
        x: 334
        y: 387
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-coder:1.5b
          provider: ollama
        prompt_template:
        - id: aa4d1171-252f-4772-b4fc-520ef39a8ece
          role: system
          text: 我是一个乐于助人的助手
        selected: false
        title: gpt-3.5-turbo
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '17248166823210'
      position:
        x: 334
        y: 525
      positionAbsolute:
        x: 334
        y: 525
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '|gpt-4o|claude-3-5-sonnet|gpt-3.5-turbo|claude-3-haiku|

          |---|---|---|---|

          | {{#llm.text#}}  |  {{#17248166805710.text#}} | {{#17248166823210.text#}}  |{{#1724821559068.text#}}|'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 192
      id: '1724821147504'
      position:
        x: 638
        y: 387
      positionAbsolute:
        x: 638
        y: 387
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: freeapi
          provider: openai_api_compatible
        prompt_template:
        - id: 5fec8167-6795-4d08-8b40-fdcbb75b1755
          role: system
          text: 我是一个乐于助人的助手
        selected: false
        title: claude-3-haiku
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: false
      height: 98
      id: '1724821559068'
      position:
        x: 334
        y: 663
      positionAbsolute:
        x: 334
        y: 663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 252
      y: -63
      zoom: 0.7
