ai002/post/20251125/生命卫士-心脏健康助手 (1).yml
app:
  description: 生命卫士-心脏健康助手 (Dify 1.1.0 Compatible)
  icon: 💓
  icon_background: '#FFEAD5'
  mode: workflow
  name: 生命卫士-心脏健康助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/xinference:0.0.2@04dee9c8396689421df7537f73ebb4b26efbcb7e0b9c32b7f09236e84bb97b3c
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.8@217f973bd7ced1b099c2f0c669f1356bdf4cc38b8372fd58d7874f9940b95de3
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1766026350824-source-1766026413584-target
      selected: false
      source: '1766026350824'
      sourceHandle: source
      target: '1766026413584'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1766026413584-source-1766026721777-target
      selected: false
      source: '1766026413584'
      sourceHandle: source
      target: '1766026721777'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1766026721777-source-1766027016360-target
      selected: false
      source: '1766026721777'
      sourceHandle: source
      target: '1766027016360'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1766027016360-source-1766040850473-target
      selected: false
      source: '1766027016360'
      sourceHandle: source
      target: '1766040850473'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1766040850473-source-1766040882016-target
      selected: false
      source: '1766040850473'
      sourceHandle: source
      target: '1766040882016'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1766040882016-source-1766045152489-target
      source: '1766040882016'
      sourceHandle: source
      target: '1766045152489'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1766045152489-source-1766027040263-target
      source: '1766045152489'
      sourceHandle: source
      target: '1766027040263'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 问题
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: question
      height: 90
      id: '1766026350824'
      position:
        x: 30
        y: 288
      positionAbsolute:
        x: 30
        y: 288
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: d7efb4bf-5ea5-483c-b563-38c67baada77
          role: system
          text: "你的任务是从用户的自然语言对话中提取健康指标，并输出为 JSON 格式。\\n\\n需要提取的字段（如果用户未提及，请设为 null\
            \ 或默认值）：\\n\\\n            - uric_acid (尿酸值, int)\\n- bp_systolic (收缩压/高压,\
            \ int)\\n- spo2 (血氧饱和度, int)\\n- heart_rate (心率, int)\\n- gender (性别,\
            \ string: male/female)\\n\\\n            - symptoms (症状描述, string)\\n\\\
            n示例输入：“我男，血压150，头有点晕”\\n\\n\n安全风险红线：用户不相干的指标，千万要剔除，避免误导用户。\\n\n示例输出：\\\
            n{\\n  \\\"uric_acid\\\": 0,\\n  \\\"bp_systolic\\\": 150,\\n  \\\"spo2\\\
            \": 99,\\n  \\\"heart_rate\\\": 0,\\n \\\n            \\ \\\"gender\\\"\
            : \\\"male\\\",\\n  \\\"symptoms\\\": \\\"头晕\\\"\\n}"
        - id: 9f42c5cc-3207-4274-93a1-55b288e4c499
          role: user
          text: '{{#1766026350824.question#}}'
        selected: false
        title: 用户数据 agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1766026413584'
      position:
        x: 282.497715212176
        y: 708.5104933772345
      positionAbsolute:
        x: 282.497715212176
        y: 708.5104933772345
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\n\ndef main(json_str):\n    try:\n        # 容错处理：判断输入类型并清洗\
          \ JSON 字符串\n        if isinstance(json_str, dict):\n            data = json_str\n\
          \        else:\n            # 清理可能包含的 markdown 代码块标识\n            clean_str\
          \ = json_str.replace('```json', '').replace('```', '')\n            data\
          \ = json.loads(clean_str)\n\n        risks = []\n        context = []\n\n\
          \        # 1. 痛风/高尿酸判断（阈值：> 420）\n        ua = data.get('uric_acid', 0)\n\
          \        if ua and ua > 420:\n            risks.append(\"高尿酸\")\n      \
          \      context.append(f\"尿酸值 {ua} (超标)\")\n\n        # 2. 高血压判断（收缩压阈值：>\
          \ 140）\n        sbp = data.get('bp_systolic', 0)\n        if sbp and sbp\
          \ > 140:\n            risks.append(\"高血压\")\n            context.append(f\"\
          收缩压 {sbp} (偏高)\")\n\n        # 3. 心率异常判断（阈值：> 100 或 < 50）\n        hr =\
          \ data.get('heart_rate', 0)\n        if hr and (hr > 100 or hr < 50):\n\
          \            risks.append(\"心率异常\")\n            context.append(f\"心率 {hr}\
          \ (需关注)\")\n\n        # 4. 低血氧判断（阈值：< 95）\n        spo2 = data.get('spo2',\
          \ 99)\n        if spo2 and spo2 < 95:\n            risks.append(\"低血氧\"\
          )\n            context.append(f\"血氧 {spo2}% (偏低)\")\n\n        # 无异常时的默认标签\n\
          \        if not risks:\n            risks.append(\"数据正常或未提供\")\n\n     \
          \   return {\n            \"risk_tags\": \",\".join(risks),\n          \
          \  \"analysis\": \";\".join(context),\n            \"raw_data\": str(data)\n\
          \        }\n\n    except Exception as e:\n        # 异常处理：返回解析错误信息\n    \
          \    return {\n            \"risk_tags\": \"解析错误\",\n            \"analysis\"\
          : str(e),\n            \"raw_data\": str(\"\")\n        }"
        code_language: python3
        desc: Python逻辑判断
        outputs:
          analysis:
            children: null
            type: string
          raw_data:
            children: null
            type: string
          risk_tags:
            children: null
            type: string
        selected: false
        title: 2. 风险计算 (Code)
        type: code
        variables:
        - value_selector:
          - '1766026413584'
          - text
          variable: json_str
      height: 82
      id: '1766026721777'
      position:
        x: 429.5177500978831
        y: 421.2702989880621
      positionAbsolute:
        x: 429.5177500978831
        y: 421.2702989880621
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: e5269793-c635-45ab-9d3e-6ffb8678c871
          role: system
          text: "你是一名资深健康管理师。请根据以下数据和风险标签，为用户提供建议。\\n\\n用户数据：{{#1766026721777.raw_data#}}\\\
            n\\\n            计算出的风险：{{#1766026721777.risk_tags#}}\\n详细分析：{{#1766026721777.analysis#}}\\\
            n\\\n            \\n如果风险标签包含“正常”，请鼓励用户。\\n如果包含风险（如高血压、高尿酸），请推荐对应的【生命卫士配方】（如：降压护航配方、痛风干预配方）。\\\
            n\\n请用亲切、专业的口吻回答。使用Markdown排版。\\n\\\n风险红线：用户不相干的指标，千万要剔除，避免误导用户。 \\n\\\
            \n            回答结构：\\n1. \U0001F4C9 健康现状分析\\n2. \U0001F48A 推荐配方与饮食\\n3.\
            \ \U0001F3C3 运动建议"
        selected: false
        title: 生成建议
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1766027016360'
      position:
        x: 627.9571172360518
        y: 288
      positionAbsolute:
        x: 627.9571172360518
        y: 288
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1766040882016'
          - text
          variable: text
        - value_selector:
          - '1766045152489'
          - text
          variable: fangan
        selected: false
        title: 结束
        type: end
      height: 116
      id: '1766027040263'
      position:
        x: 1438.572284830283
        y: 288
      positionAbsolute:
        x: 1438.572284830283
        y: 288
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 1eda64fe-7f52-4d6b-b117-501b7d0ca426
        - e2b52dd2-a86d-4f38-9e10-c98beef95d5c
        - ce137275-d33e-42ab-b2b6-eba6bac34b96
        - 0bb0d6a2-2de3-4e9e-a7a3-991b72f4b1ec
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: bge-reranker-v2-m3
            provider: langgenius/xinference/xinference
          score_threshold: null
          top_k: 4
        query_variable_selector:
        - '1766027016360'
        - text
        retrieval_mode: multiple
        selected: false
        title: 专家共识收敛
        type: knowledge-retrieval
      height: 176
      id: '1766040850473'
      position:
        x: 868.6207375189529
        y: 421.2702989880621
      positionAbsolute:
        x: 868.6207375189529
        y: 421.2702989880621
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1766040850473'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 2a087031-74ce-4196-8951-de448a21143b
          role: system
          text: "你是一名资深健康管理师。请根据以下专家共识和初步建议，为用户提供最终建议。\\n\\n知识库相关专家共识：{{#context#}}\\\
            n\\\n            初步建议：{{#1766027016360.text#}}\\n\\n 用户问题：{{#1766026350824.question#}}\
            \  ; \\n 安全风险红线：识别出专家共识出现用户生命体征以为的指标，请忽略，只取共识知识。       \\n如果风险标签包含“正常”，请鼓励用户。\\\
            n如果包含风险（如高血压、高尿酸），请推荐对应的\n```markdown\n# 健康管理配方方案总表\n| 配方类别 | 配方名称 | 触发条件\
            \ | 饮食方案设计 | 运动方案设计 | 智能匹配逻辑 |\n|----------|----------|----------|--------------|--------------|--------------|\n\
            | 慢病干预类 | 稳糖控糖配方 | - 生化数据：血糖、糖化血红蛋白数值异常   - 问卷评估：高血糖健康风险 | - 低GI/GL饮食策略：推荐全谷物、叶菜等低升糖指数食物\
            \   - 控制精制碳水摄入 | - 餐后微动计划：推荐低强度步行或抗阻训练，餐后30-60分钟内 | 1. 智能匹配：根据血糖及糖化血红蛋白数据自动推荐此方案\
            \   2. 动态调整：监测血糖变化，调整餐后运动推荐 |\n| 慢病干预类 | 降压护航配方 | - 血压数据：收缩压/舒张压偏高   -\
            \ 问卷评估：高血压、心脑血管风险 | - DASH饮食改良版：推荐高钾、高镁、高钙、高纤维食物（如深色蔬菜、坚果）   - 强制限盐提醒（每日<5g）\
            \ | - 等长收缩训练：如靠墙静蹲、握力器训练等有助于降压的运动 | 1. 智能匹配：基于血压数据自动推荐此方案   2. 动态调整：随着血压变化，调整运动强度和饮食策略\
            \ |\n| 慢病干预类 | 降脂护心配方 | - 生化数据：血脂（总胆固醇、低密度脂蛋白、甘油三酯）超标   - 问卷评估：心脏病家族史、肥胖风险\
            \ | - 富含Omega-3脂肪酸：推荐鱼类（如三文鱼、沙丁鱼）   - 控制反式脂肪和饱和脂肪摄入 | - 有氧运动：如快走、游泳、骑车等，至少30分钟/天\
            \ | 1. 智能匹配：根据血脂数据及个人风险评估推荐此方案   2. 动态调整：根据血脂变化和运动量，调整饮食和运动推荐 |\n| 慢病干预类\
            \ | 肝脏修复配方 | - 生化数据：肝功能指标（ALT、AST、总胆红素）异常   - 问卷评估：饮酒习惯、肝炎病史 | - 低脂、高纤维饮食：推荐富含膳食纤维的食物，如绿叶蔬菜、燕麦\
            \   - 增加抗氧化食物，如蓝莓、葡萄 | - 低强度有氧运动：如快步走、瑜伽等促进肝脏健康，避免过度剧烈运动 | 1. 智能匹配：结合肝功能数据和个人习惯推荐此方案\
            \   2. 动态调整：根据肝功能指标变化，灵活调整运动和饮食策略 |\n| 身心调节类 | 助眠舒压配方 | - 睡眠数据：深睡比例低、清醒次数多\
            \   - HRV数据：持续偏低   - 问卷评估：幸福指数低或睡眠障碍评估异常 | - 色氨酸与镁强化：推荐富含色氨酸（如牛奶、小米）和镁（如香蕉、菠菜）的食物\
            \   - 剔除含咖啡因食物 | - 晚间舒缓瑜伽/冥想：低强度拉伸或呼吸训练，减少皮质醇水平 | 1. 智能匹配：自动识别睡眠质量差和压力高的用户，推荐此方案\
            \   2. 动态调整：通过AI助手根据用户反馈调整晚间放松策略 |\n| 身心调节类 | 焦虑情绪调节配方 | - 情绪数据：焦虑、烦躁、压力评分高\
            \   - HRV数据：持续偏低   - 问卷评估：高焦虑或情绪波动大 | - 高Omega-3饮食：增加鱼类、坚果、亚麻籽等食品，调节情绪波动\
            \ | - 放松训练：如冥想、深呼吸练习、渐进式肌肉放松（PMR） | 1. 智能匹配：根据情绪评分和HRV自动推荐此方案   2. 动态调整：根据用户反馈调整冥想或放松练习时间\
            \ |\n| 身心调节类 | 情绪平衡配方 | - HRV：持续偏低，情绪波动大   - 问卷评估：高抑郁、焦虑评分 | - 富含色氨酸和维生素B的饮食：如火鸡、坚果、香蕉、牛奶等\
            \ | - 轻度有氧运动：如散步、游泳、慢跑等促进情绪平衡 | 1. 智能匹配：根据HRV和情绪评分数据自动推荐此方案   2. 动态调整：根据心情波动和HRV数据调整饮食和运动方案\
            \ |\n| 风险防御类 | 强心护脉配方 | - 心电图：异常波形、房颤概率偏高   - 问卷评估：心脑血管风险极高 | - 饮食：低脂、富含抗氧化物的食物（如西兰花、胡萝卜、鱼类）\
            \ | - 限制性运动：只推荐温和运动，如太极、慢走   - 实时心率超限预警 | 1. 智能匹配：根据心电图和HRV数据，推荐此配方  \
            \ 2. 紧急反馈：一旦检测到异常心电图，系统直接推荐高端增值服务，如专家二诊和动态心电解读 |\n| 风险防御类 | 冠心病护理配方 |\
            \ - 心电图：ST段抬高或改变   - 血脂数据：LDL胆固醇过高   - 心脏病家族史 | - 低胆固醇饮食：推荐低胆固醇、高纤维食物（如燕麦、豆类、坚果）\
            \   - 控制钠和饱和脂肪的摄入 | - 低强度有氧：如散步、太极、游泳等，避免剧烈运动 | 1. 智能匹配：根据心电图、血脂及家族史数据自动推荐此配方\
            \   2. 动态调整：基于心率、血压等指标调整运动和饮食方案 |\n| 代谢矫正类 | 痛风与高尿酸干预配方 | - 生化数据：尿酸值超标（男性\
            \ > 420μmol/L，女性 > 360μmol/L）   - 关联数据：饮酒习惯、BMI超标 | - 低嘌呤饮食：红黄绿灯食谱，严格控制高嘌呤食物（如动物内脏、海鲜浓汤）\
            \   - 强制推送“每小时饮水提醒”，目标尿量 > 2000ml | - 无酸运动：屏蔽快跑、举重等无氧运动，推荐有氧运动如慢走、太极 |\
            \ 1. 智能匹配：基于尿酸值和生活习惯自动推荐此配方   2. 动态调整：根据尿酸水平和运动量，调整饮食和运动推荐 |\n| 代谢矫正类\
            \ | 糖尿病防控配方 | - 生化数据：空腹血糖和糖化血红蛋白升高   - 问卷评估：糖尿病家族史   - 生活习惯：饮食不规律、久坐等\
            \ | - 低GI饮食：推荐低升糖指数食物（如豆类、全谷物、蔬菜）   - 增加膳食纤维摄入 | - 间歇性运动：如间歇跑步、散步等，每次不超过30分钟\
            \ | 1. 智能匹配：根据生化数据和生活习惯自动推荐此配方   2. 动态调整：根据餐后血糖变化调整运动和饮食策略 |\n| 呼吸守护类\
            \ | 低血氧与呼吸健康配方 | - 血氧饱和度（SpO2）：低于95%   - 睡眠数据：血氧骤降   - 问卷评估：有吸烟史或睡眠呼吸暂停\
            \ | - 增加富含维生素C的食物（如柑橘类水果）   - 推荐富含锌和镁的食物（如坚果、绿叶蔬菜），增强免疫系统 | - 呼吸肌训练：如缩唇呼吸、腹式呼吸训练\
            \   - 夜间低氧报警：智能手表监测血氧低于90%时触发强震动报警 | 1. 智能匹配：结合血氧和睡眠数据，自动推荐此方案   2. 实时监控：通过设备监测夜间血氧水平，实时提醒\
            \ |\n| 呼吸守护类 | 哮喘护理配方 | - 呼吸频率：喘息症状明显   - 血氧：SpO2 < 90%   - 吸烟史或过敏史 |\
            \ - 低敏饮食：推荐低致敏食物，如低过敏鱼类、蔬菜   - 避免乳制品、过多盐分和糖分 | - 呼吸训练：如腹式呼吸、放松性瑜伽等，有助于缓解喘息症状\
            \ | 1. 智能匹配：根据血氧、呼吸频率、吸烟史等数据自动推荐此方案   2. 动态调整：根据呼吸情况和治疗进展调整饮食和运动方案 |\n\
            | 康复护理类 | 术后与病后恢复配方 | - 体温记录：有发热记录后恢复正常   - HRV：极低   - 步数：低于日常平均值   -\
            \ 药品订单：正在服药或手动标记为“康复期” | - 高蛋白流食：易消化的优质蛋白（如蒸蛋、鱼肉泥）   - 增加富含维生素C的果蔬，帮助组织修复\
            \ | - 循序渐进的运动：不设定硬性运动时长，基于主观疲劳度（RPE）控制，推荐床边伸展或室内散步 | 1. 智能匹配：自动识别康复期用户，结合体温、HRV和用药记录推荐此方案\
            \   2. 动态调整：根据体温、步数和用药数据，灵活调整运动和饮食推荐 |\n| 康复护理类 | 产后恢复配方 | - 体温：产后体温异常\
            \   - 步数：运动量低于日常   - 药物：处于哺乳期并且存在不良反应 | - 高铁高钙饮食：推荐富含铁、钙的食物（如菠菜、牛奶、豆腐）\
            \   - 增加优质蛋白（如鸡胸肉、牛肉） | - 产后恢复运动：如盆底肌锻炼、瑜伽、步行等低强度运动，逐渐增加强度 | 1. 智能匹配：根据产后用户的体温、步数和用药数据，推荐此方案\
            \   2. 动态调整：根据产后恢复情况自动调整饮食和运动方案 |\n```\n。\\n\\n请用亲切、专业的口吻回答。\\n\\\n  \
            \          回答结构：\\n1. \U0001F4C9 健康现状分析\\n2. \U0001F48A 推荐配方与饮食\\n3. \U0001F3C3\
            \ 运动建议"
        selected: false
        title: 方案agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1766040882016'
      position:
        x: 838.7852360934112
        y: 708.5104933772345
      positionAbsolute:
        x: 838.7852360934112
        y: 708.5104933772345
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 39f76d89-3a37-492e-8ac9-21ff8efb1dea
          role: system
          text: '你是一位资深的健康管理大师，根据用户的方案：{{#1766040882016.text#}}，拆分一个疗程的具体执行计划，指导系统能够进行引导用户每天完成任务。

            每日执行计划

            '
        selected: false
        title: 执行计划 agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1766045152489'
      position:
        x: 1163.8973626657776
        y: 708.5104933772345
      positionAbsolute:
        x: 1163.8973626657776
        y: 708.5104933772345
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: d7efb4bf-5ea5-483c-b563-38c67baada77
          role: system
          text: "你的任务是从用户的自然语言对话中提取健康指标，并输出为 JSON 格式。\\n\\n需要提取的字段（如果用户未提及，请设为 null\
            \ 或默认值）：\\n\\\n            - uric_acid (尿酸值, int)\\n- bp_systolic (收缩压/高压,\
            \ int)\\n- spo2 (血氧饱和度, int)\\n- heart_rate (心率, int)\\n- gender (性别,\
            \ string: male/female)\\n\\\n            - symptoms (症状描述, string)\\n\\\
            n示例输入：“我男，血压150，头有点晕”\\n\\n\n安全风险红线：用户不相干的指标，千万要剔除，避免误导用户。\\n\n示例输出：\\\
            n{\\n  \\\"uric_acid\\\": 0,\\n  \\\"bp_systolic\\\": 150,\\n  \\\"spo2\\\
            \": 99,\\n  \\\"heart_rate\\\": 0,\\n \\\n            \\ \\\"gender\\\"\
            : \\\"male\\\",\\n  \\\"symptoms\\\": \\\"头晕\\\"\\n}"
        - id: 9f42c5cc-3207-4274-93a1-55b288e4c499
          role: user
          text: ''
        selected: false
        title: 触达 agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '17661407079330'
      position:
        x: 1163.8973626657776
        y: 828.4912788215411
      positionAbsolute:
        x: 1163.8973626657776
        y: 828.4912788215411
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: d7efb4bf-5ea5-483c-b563-38c67baada77
          role: system
          text: "你的任务是从用户的自然语言对话中提取健康指标，并输出为 JSON 格式。\\n\\n需要提取的字段（如果用户未提及，请设为 null\
            \ 或默认值）：\\n\\\n            - uric_acid (尿酸值, int)\\n- bp_systolic (收缩压/高压,\
            \ int)\\n- spo2 (血氧饱和度, int)\\n- heart_rate (心率, int)\\n- gender (性别,\
            \ string: male/female)\\n\\\n            - symptoms (症状描述, string)\\n\\\
            n示例输入：“我男，血压150，头有点晕”\\n\\n\n安全风险红线：用户不相干的指标，千万要剔除，避免误导用户。\\n\n示例输出：\\\
            n{\\n  \\\"uric_acid\\\": 0,\\n  \\\"bp_systolic\\\": 150,\\n  \\\"spo2\\\
            \": 99,\\n  \\\"heart_rate\\\": 0,\\n \\\n            \\ \\\"gender\\\"\
            : \\\"male\\\",\\n  \\\"symptoms\\\": \\\"头晕\\\"\\n}"
        - id: 9f42c5cc-3207-4274-93a1-55b288e4c499
          role: user
          text: ''
        selected: false
        title: 周报 agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '17661407324370'
      position:
        x: 1163.8973626657776
        y: 934.3318793479896
      positionAbsolute:
        x: 1163.8973626657776
        y: 934.3318793479896
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: d7efb4bf-5ea5-483c-b563-38c67baada77
          role: system
          text: "你的任务是从用户的自然语言对话中提取健康指标，并输出为 JSON 格式。\\n\\n需要提取的字段（如果用户未提及，请设为 null\
            \ 或默认值）：\\n\\\n            - uric_acid (尿酸值, int)\\n- bp_systolic (收缩压/高压,\
            \ int)\\n- spo2 (血氧饱和度, int)\\n- heart_rate (心率, int)\\n- gender (性别,\
            \ string: male/female)\\n\\\n            - symptoms (症状描述, string)\\n\\\
            n示例输入：“我男，血压150，头有点晕”\\n\\n\n安全风险红线：用户不相干的指标，千万要剔除，避免误导用户。\\n\n示例输出：\\\
            n{\\n  \\\"uric_acid\\\": 0,\\n  \\\"bp_systolic\\\": 150,\\n  \\\"spo2\\\
            \": 99,\\n  \\\"heart_rate\\\": 0,\\n \\\n            \\ \\\"gender\\\"\
            : \\\"male\\\",\\n  \\\"symptoms\\\": \\\"头晕\\\"\\n}"
        - id: 9f42c5cc-3207-4274-93a1-55b288e4c499
          role: user
          text: ''
        selected: false
        title: '月报 agent '
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '17661407460360'
      position:
        x: 1163.8973626657776
        y: 1037.1386134643694
      positionAbsolute:
        x: 1163.8973626657776
        y: 1037.1386134643694
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 45.81435269964868
      y: -217.63534389564006
      zoom: 1.0000000000000027
