geek002/post/202410/聊天-心脏加-工作流版 (4).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 聊天-心脏加-工作流版
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 7c1edbca-0382-492c-88f1-b9e52afd7bb9
    name: historytype
    value: 1
    value_type: number
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 您好 欢迎来找我聊天  祝今日好运
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 窦性心律需要担心吗？
    - 跑步心跳加速是正常现象吗？
    - 心率正常范围是多少
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1730251040357-source-1730020909409-target
      source: '1730251040357'
      sourceHandle: source
      target: '1730020909409'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1730251185357-source-1730019638026-target
      source: '1730251185357'
      sourceHandle: source
      target: '1730019638026'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1730020909409-source-1730251185357-target
      source: '1730020909409'
      sourceHandle: source
      target: '1730251185357'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: if-else
      id: 1730019638026-source-1730255743784-target
      source: '1730019638026'
      sourceHandle: source
      target: '1730255743784'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1730255743784-62b8fee8-54e7-4aaf-9843-413f4309934f-answer-target
      source: '1730255743784'
      sourceHandle: 62b8fee8-54e7-4aaf-9843-413f4309934f
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1730255743784-true-1730258813911-target
      source: '1730255743784'
      sourceHandle: 'true'
      target: '1730258813911'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1730018537449-source-1730259132054-target
      source: '1730018537449'
      sourceHandle: source
      target: '1730259132054'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1730259132054-true-1730251040357-target
      source: '1730259132054'
      sourceHandle: 'true'
      target: '1730251040357'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1730259132054-false-1730251185357-target
      source: '1730259132054'
      sourceHandle: 'false'
      target: '1730251185357'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1730018537449'
      position:
        x: 30
        y: 287
      positionAbsolute:
        x: 30
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1730019638026.text#}}

          '
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1846
        y: 484
      positionAbsolute:
        x: 1846
        y: 484
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1730251185357'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5:1.5b
          provider: ollama
        prompt_template:
        - id: 70b71ba4-7360-4ea4-94dd-2ff580a0c4f3
          role: system
          text: '{{#context#}}'
        - id: 9aa7fcc9-4b0f-4102-b622-0d1c11c33185
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1730019638026'
      position:
        x: 1242
        y: 430
      positionAbsolute:
        x: 1242
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5:1.5b
          provider: ollama
        prompt_template:
        - id: 180cfe11-f1ea-48d6-82ca-07f990156174
          role: system
          text: ''
        - id: 73618642-a992-4f94-84f1-34944d54c934
          role: user
          text: 请分析{{#1730251040357.text#}} JSON结构，挑选重要的5个大事记，文本输出，注意排版美观，注意输出的不是JSON结构，是至少5个大事件。
        selected: false
        title: LLM 3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1730020909409'
      position:
        x: 1242
        y: 287
      positionAbsolute:
        x: 1242
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: liliang
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"历史上的今日
          大事件","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1730022516288'
      position:
        x: 360
        y: 160
      positionAbsolute:
        x: 360
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: liliang
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"回答用户问题","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1730022536393'
      position:
        x: 615.7142857142858
        y: 532.8571428571429
      positionAbsolute:
        x: 615.7142857142858
        y: 532.8571428571429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        desc: ''
        provider_id: 636615ff-9f7f-4427-a077-4a010840df6d
        provider_name: 历史上的今天2
        provider_type: api
        selected: false
        title: getHistoryToday
        tool_configurations: {}
        tool_label: getHistoryToday
        tool_name: getHistoryToday
        tool_parameters: {}
        type: tool
      height: 54
      id: '1730251040357'
      position:
        x: 861
        y: 171
      positionAbsolute:
        x: 861
        y: 171
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - d9d00436-6080-437d-b8df-46526454fb5b
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: bge-reranker-v2-m3
            provider: xinference
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: bge-m3
              embedding_provider_name: xinference
              vector_weight: 0.7
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 92
      id: '1730251185357'
      position:
        x: 938
        y: 411
      positionAbsolute:
        x: 938
        y: 411
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 29417125-4aed-4152-89cf-b23598313dbe
            value: '1'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 'true'
          logical_operator: and
        - case_id: 62b8fee8-54e7-4aaf-9843-413f4309934f
          conditions:
          - comparison_operator: '>'
            id: 0598a3e7-1f8c-4658-a711-bf441861ad1c
            value: '1'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 62b8fee8-54e7-4aaf-9843-413f4309934f
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 174
      id: '1730255743784'
      position:
        x: 1538
        y: 273.99999999999994
      positionAbsolute:
        x: 1538
        y: 273.99999999999994
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '历史上的今天：

          {{#1730020909409.text#}}


          ## {{#sys.query#}}

          分析如下：

          {{#1730019638026.text#}}'
        desc: ''
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 141
      id: '1730258813911'
      position:
        x: 1846
        y: 273.99999999999994
      positionAbsolute:
        x: 1846
        y: 273.99999999999994
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: d23e28ed-aeea-42c6-9d7d-fa7204b7284a
            value: '1'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支 2
        type: if-else
      height: 126
      id: '1730259132054'
      position:
        x: 500.26768554015416
        y: 287
      positionAbsolute:
        x: 500.26768554015416
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 118.12969379595575
      y: -12.488628253367551
      zoom: 1.0000000000000002
