geek002/post/20240918/文字转卡片-迭代.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 文字转卡片-迭代
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: http-request
      id: 1721731659123-source-1721710297246-target
      source: '1721731659123'
      sourceHandle: source
      target: '1721710297246'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: parameter-extractor
      id: 1721710297246-source-1721731782529-target
      source: '1721710297246'
      sourceHandle: source
      target: '1721731782529'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: end
      id: 1721731782529-source-1721710662921-target
      source: '1721731782529'
      sourceHandle: source
      target: '1721710662921'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1721710272051-source-1727431398269-target
      source: '1721710272051'
      sourceHandle: source
      target: '1727431398269'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template-transform
      id: 1727431398269-source-1721731659123-target
      source: '1727431398269'
      sourceHandle: source
      target: '1721731659123'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: 作者名字
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: author
        - label: 文本内容
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: body_text
      height: 116
      id: '1721710272051'
      position:
        x: -57.481467811253594
        y: 282
      positionAbsolute:
        x: -57.481467811253594
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config:
            api_key: 306465674396570006.PgEn134bFPBCRThCssCDE6ddqqY8ytGI
            header: X-API-Key
            type: custom
          type: api-key
        body:
          data: '{{#1721731659123.output#}}'
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: https://api.imgrender.cn/open/v1/pics
        variables: []
      height: 106
      id: '1721710297246'
      position:
        x: 984
        y: 282
      positionAbsolute:
        x: 984
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1721731782529'
          - image_url
          variable: image_url
        selected: false
        title: End
        type: end
      height: 90
      id: '1721710662921'
      position:
        x: 1588
        y: 282
      positionAbsolute:
        x: 1588
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "{\n    \"width\": 300,\n    \"height\": 800,\n    \"backgroundColor\"\
          : \"#E0E0E0\",\n    \"texts\":[\n        {\n            \"x\": 50,\n   \
          \         \"y\": 80,\n            \"text\": \"{{ author }}\",\n        \
          \    \"font\": \"SourceHanSansSC-Normal\",\n            \"fontSize\": 22,\n\
          \            \"color\": \"#94C0FA\",\n            \"width\": 100,\n    \
          \        \"textAlign\": \"left\"\n        },\n        {\n            \"\
          x\": 50,\n            \"y\": 150,\n            \"text\": \"{{ body_text\
          \ }}\",\n            \"font\": \"SourceHanSansSC-Bold\",\n            \"\
          fontSize\": 36,\n            \"color\": \"#0069ED\",\n            \"width\"\
          : 200,\n            \"textAlign\": \"left\"\n        }\n    ],\n    \"lines\"\
          :[\n        {\n            \"startX\": 50,\n            \"startY\": 110,\n\
          \            \"endX\": 250,\n            \"endY\": 110,\n            \"\
          width\": 1,\n            \"color\": \"#A4BADF\",\n            \"zIndex\"\
          : 1\n        },\n        {\n            \"startX\": 50,\n            \"\
          startY\": 720,\n            \"endX\": 250,\n            \"endY\": 720,\n\
          \            \"width\": 1,\n            \"color\": \"#A4BADF\",\n      \
          \      \"zIndex\": 1\n        }\n    ]\n}\n"
        title: Template
        type: template-transform
        variables:
        - value_selector:
          - '1721710272051'
          - author
          variable: author
        - value_selector:
          - '1727431398269'
          - text
          variable: body_text
      height: 54
      id: '1721731659123'
      position:
        x: 663.6727043824799
        y: 282
      positionAbsolute:
        x: 663.6727043824799
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: 提取URL的值
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: freeapiall
          provider: openai_api_compatible
        parameters:
        - description: 提取生成的图片链接
          name: image_url
          required: false
          type: string
        query:
        - '1721710297246'
        - body
        reasoning_mode: prompt
        selected: false
        title: Parameter Extractor
        type: parameter-extractor
        variables: []
      height: 98
      id: '1721731782529'
      position:
        x: 1296.893191832665
        y: 282
      positionAbsolute:
        x: 1296.893191832665
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: freeapiall
          provider: openai_api_compatible
        prompt_template:
        - id: 8d06a5e9-a3a6-4c55-8312-b7a50251ef51
          role: system
          text: 根据用户提供的主题，生成一句20字说明，小红书格式。不能出现换行，一句话说明白。
        - id: 46e2d44a-d5b6-47b0-b058-790bdecfaa98
          role: user
          text: '{{#1721710272051.body_text#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1727431398269'
      position:
        x: 306.04340968905933
        y: 282
      positionAbsolute:
        x: 306.04340968905933
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 136.79593054408497
      y: 30.99067628788123
      zoom: 1.0386097083258763
