ai/post/20241225/周报-html-面向用户.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 周报-html-面向用户
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1737342621749-source-1737343038696-target
      source: '1737342621749'
      sourceHandle: source
      target: '1737343038696'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1737343038696-source-1737342730801-target
      source: '1737343038696'
      sourceHandle: source
      target: '1737342730801'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1737342730801-source-1737343307864-target
      source: '1737342730801'
      sourceHandle: source
      target: '1737343307864'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1737352024254-source-answer-target
      source: '1737352024254'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1737343307864-source-1737534399659-target
      source: '1737343307864'
      sourceHandle: source
      target: '1737534399659'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1737534399659-source-1737352024254-target
      source: '1737534399659'
      sourceHandle: source
      target: '1737352024254'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: managerUuid
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: managerUuid
      height: 90
      id: '1737342621749'
      position:
        x: 30
        y: 258
      positionAbsolute:
        x: 30
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1737352024254.result#}}

          请多多互动，帮助成长，本次贡献度：50'
        desc: ''
        selected: true
        title: 直接回复
        type: answer
        variables: []
      height: 119
      id: answer
      position:
        x: 1854
        y: 258
      positionAbsolute:
        x: 1854
        y: 258
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: a05d3a58-b4f3-4f97-b3e9-55fe1925ba19
        provider_name: 执行sql-测试
        provider_type: api
        selected: false
        title: executeQuery
        tool_configurations: {}
        tool_label: executeQuery
        tool_name: executeQuery
        tool_parameters:
          format:
            type: mixed
            value: json
          sql:
            type: mixed
            value: '{{#1737343038696.result#}}'
        type: tool
      height: 54
      id: '1737342730801'
      position:
        x: 638
        y: 258
      positionAbsolute:
        x: 638
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    return {\n        \"result\": \"\
          SELECT id FROM b2c_hm503.ecg_manager WHERE `uuid`='\"+arg1+\"';\",\n   \
          \ }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1737342621749'
          - managerUuid
          variable: arg1
      height: 54
      id: '1737343038696'
      position:
        x: 334
        y: 258
      positionAbsolute:
        x: 334
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(arg1: str) -> dict:\n    try:\n        outer_parsed\
          \ = json.loads(arg1)\n        # outer_parsed['arg1'] 是一个JSON字符串，先解析为JSON对象\n\
          \        inner_json_str = outer_parsed['data']\n        inner_parsed = json.loads(inner_json_str)\n\
          \        \n        id_value = inner_parsed[0][\"id\"]\n        \n      \
          \  return {\"result\": str(id_value)}\n    except Exception as e:\n    \
          \    return {\"result\": str(\"0\")}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1737342730801'
          - text
          variable: arg1
      height: 54
      id: '1737343307864'
      position:
        x: 942
        y: 258
      positionAbsolute:
        x: 942
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    outer_parsed = json.loads(arg1)\n\
          \    result = outer_parsed[\"result\"]\n    result = result.replace(\"```html\"\
          ,\"\")\n    result = result.replace(\"```\",\"\")\n    return {\n      \
          \  \"result\": result,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 3
        type: code
        variables:
        - value_selector:
          - '1737534399659'
          - text
          variable: arg1
      height: 54
      id: '1737352024254'
      position:
        x: 1550
        y: 258
      positionAbsolute:
        x: 1550
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: 756711c6-ee1f-4327-900b-f8a123238210
        provider_name: 周报助手-html代码
        provider_type: workflow
        selected: false
        title: 周报助手-html代码
        tool_configurations:
          type: 用户周报
        tool_label: 周报助手-html代码
        tool_name: getWeeklyReportHtml
        tool_parameters:
          user_no:
            type: mixed
            value: '{{#1737343307864.result#}}'
        type: tool
      height: 90
      id: '1737534399659'
      position:
        x: 1246
        y: 258
      positionAbsolute:
        x: 1246
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -556
      y: 105.00000000000006
      zoom: 0.7
