ai/post/20241225/工作流-生成周报SQL (8).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 工作流-生成周报SQL
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1736501786115-source-1736502814530-target
      source: '1736501786115'
      sourceHandle: source
      target: '1736502814530'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1738924333315-source-1736502948698-target
      source: '1738924333315'
      sourceHandle: source
      target: '1736502948698'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1736502814530-source-1739002115128-target
      source: '1736502814530'
      sourceHandle: source
      target: '1739002115128'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1739002115128-source-1738924333315-target
      source: '1739002115128'
      sourceHandle: source
      target: '1738924333315'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: input
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: input
        - label: user_no
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: user_no
      height: 116
      id: '1736501786115'
      position:
        x: 30
        y: 258
      positionAbsolute:
        x: 30
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 084c7b8d-625b-4eb8-ab75-b3440b2fb990
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: bge-reranker-v2-m3
            provider: xinference
          top_k: 4
        query_variable_selector:
        - '1736501786115'
        - input
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 92
      id: '1736502814530'
      position:
        x: 334
        y: 258
      positionAbsolute:
        x: 334
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1738924333315'
          - result
          variable: text
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1736502948698'
      position:
        x: 1246
        y: 258
      positionAbsolute:
        x: 1246
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    separator = \"</think>\"\n    result\
          \ = arg1\n    # 判断分隔符是否存在\n    if separator in result:\n        result =\
          \ result.split(separator)[1]\n    result = result.replace(\"```json\", \"\
          \")\n    result = result.replace(\"```\", \"\")\n    return {\n        \"\
          result\": result,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1739002115128'
          - text
          variable: arg1
      height: 54
      id: '1738924333315'
      position:
        x: 942
        y: 258
      positionAbsolute:
        x: 942
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1736502814530'
          - result
        desc: ''
        model:
          completion_params:
            max_tokens: 8192
            temperature: 0.7
          mode: chat
          name: qwen2.5-32b-instruct
          provider: tongyi
        prompt_template:
        - id: f7e0aae4-ca80-43ec-b30c-2d4789e5f804
          role: system
          text: '#角色:你是一位精通SQL语言的数据库专家和数据分析师，精通clickhouse数据库，同时擅长心电解读和分析数据

            #相关表结构：{{#context#}}

            #任务：请输出用户的周报大屏，请从大健康专家的视角，从多个视角和维度，会产生多个sql，最多只能生产10个sql。每个sql限制，只能获取近7天的数据，可以拿最近7天的数据（clickhouse:
            toDate(created_at) > today() - 7    ）， 用户ID：{{#1736501786115.user_no#}}，注意获取用户信息的sql，只需要用户id作为条件，不需要添加时间。并在注释上说明，适合什么样的图表。

            #任务2： 字段使用中文别名，并且使用英文双引号引住。表名称不允许用反引号引住。

            #任务3：用户ID：{{#1736501786115.user_no#}}一定要用上，本周报是面向用户的。

            #关键步骤:

            1、对用户输入的内容进行识别和判断，如果内容涉及政治、时事、社会问题以及违背道德和法律法规的情形，一律输出:"您提出的问题超出我应当回答的范围，请询问与公司业务相关的问题，否则我无法作出回答

            2.务必根据上下文提供的数据表结构描述来编写SQL语句，确保仅使用数据表结构描述中提到的表名和字段名，并参考对字段的解释

            3.确保SQL兼容clickhouse


            #其他注意事项

            注意： 不要输出中间的思考过程，只输出最终的结果，不能使用 ```json 进行包裹最终的输出结果。

            '
        - id: cea84863-640e-4276-b82d-797d4a146a6e
          role: user
          text: '{{#1736501786115.input#}}'
        - id: b9e19dc3-0e6e-4d96-ae82-03683322a909
          role: assistant
          text: '[ {"description": "描述1", "sql": "SQL语句1", "chart_type": "图表类型1"},
            {"description": "描述2", "sql": "SQL语句2", "chart_type": "图表类型2"}]'
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1739002115128'
      position:
        x: 639.6409976499957
        y: 258
      positionAbsolute:
        x: 639.6409976499957
        y: 258
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -104.04870827985837
      y: 19.74375857889845
      zoom: 1.2187707886145762
