ai/post/20241225/工作流-生成日报SQL-指定日期.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 工作流-生成日报SQL-指定日期
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1736501786115-source-1736502814530-target
      source: '1736501786115'
      sourceHandle: source
      target: '1736502814530'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1736502814530-source-1736502780122-target
      source: '1736502814530'
      sourceHandle: source
      target: '1736502780122'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1736502780122-source-1737507869547-target
      source: '1736502780122'
      sourceHandle: source
      target: '1737507869547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1737507869547-source-1736502948698-target
      source: '1737507869547'
      sourceHandle: source
      target: '1736502948698'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: input
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: input
        - label: user_no
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: user_no
        - label: date
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: date
      height: 142
      id: '1736501786115'
      position:
        x: 81
        y: 282
      positionAbsolute:
        x: 81
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1736502814530'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: d34aa7b9-bb81-4c61-ab9e-6af81be646c2
          role: system
          text: '#角色:你是一位精通SQL语言的数据库专家和数据分析师，精通clickhouse数据库，同时擅长心电解读和分析数据


            #相关表结构：{{#context#}}


            #任务1：请输出用户的日报大屏，从大健康领域专家视角，多个视角和维度，会产生多个sql，最多只能生产10个sql。每个sql限制，只能获取指定日期({{#1736501786115.date#}})的数据，可以拿指定日期一整天的数据（clickhouse:
            toDate(time) = ''{{#1736501786115.date#}}''）， 用户ID：{{#1736501786115.user_no#}}，注意获取用户信息的sql，只需要用户id作为条件，不需要添加时间。并在注释上说明，适合什么样的图表。


            #任务2： 字段使用中文别名，并且使用英文双引号引住。表名称不允许用反引号引住。




            #关键步骤:

            1、对用户输入的内容进行识别和判断，如果内容涉及政治、时事、社会问题以及违背道德和法律法规的情形，一律输出:"您提出的问题超出我应当回答的范围，请询问与公司业务相关的问题，否则我无法作出回答

            2.务必根据上下文提供的数据表结构描述来编写SQL语句，确保仅使用数据表结构描述中提到的表名和字段名，并参考对字段的解释

            3.确保SQL兼容clickhouse


            #其他注意事项

            注意： 不要输出中间的思考过程，只输出最终的结果，不能使用 ```json 进行包裹最终的输出结果。

            '
        - id: cee69817-4ac2-4c0f-9575-f509e2c458d9
          role: user
          text: '{{#1736501786115.input#}}'
        - id: a271ca5c-4def-4e34-a099-f1ba5a1521c4
          role: assistant
          text: '[ {"description": "描述1", "sql": "SQL语句1", "chart_type": "图表类型1"},
            {"description": "描述2", "sql": "SQL语句2", "chart_type": "图表类型2"}]'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1736502780122'
      position:
        x: 685.8705505632961
        y: 282
      positionAbsolute:
        x: 685.8705505632961
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 084c7b8d-625b-4eb8-ab75-b3440b2fb990
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: bge-reranker-v2-m3
            provider: xinference
          top_k: 4
        query_variable_selector:
        - '1736501786115'
        - input
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 92
      id: '1736502814530'
      position:
        x: 385
        y: 282
      positionAbsolute:
        x: 385
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1737507869547'
          - result
          variable: text
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1736502948698'
      position:
        x: 1289
        y: 282
      positionAbsolute:
        x: 1289
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "  \ndef main(arg1: str) -> dict:\n    arg1 = arg1.replace(\"SELECT\
          \ id FROM b2c_hm503.ecg_report\",\"SELECT id FROM b2c_hm503.ecg_report_localv2\"\
          );\n    arg1 = arg1.replace(\"JOIN b2c_hm503.ecg_report\",\"JOIN b2c_hm503.ecg_report_localv2\"\
          );\n    arg1 = arg1.replace(\"JOIN b2c_hm503.ecg_report\",\"JOIN b2c_hm503.ecg_report_localv2\"\
          );\n    arg1 = arg1.replace(\"JOIN b2c_hm503.ecg_manager\",\"JOIN b2c_hm503.ecg_manager_localv2\"\
          );\n    arg1 = arg1.replace(\"SELECT id FROM b2c_hm503.ecg_manager\",\"\
          SELECT id FROM b2c_hm503.ecg_manager_localv2\");\n    return {\n       \
          \ \"result\": arg1 ,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1736502780122'
          - text
          variable: arg1
      height: 54
      id: '1737507869547'
      position:
        x: 989
        y: 282
      positionAbsolute:
        x: 989
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -683
      y: 109
      zoom: 1
