ai/post/20241225/日报助手 (1).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 日报助手
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1736504081372-source-1736504096737-target
      source: '1736504081372'
      sourceHandle: source
      target: '1736504096737'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: end
      id: 1736730070532-source-1736504182584-target
      source: '1736730070532'
      sourceHandle: source
      target: '1736504182584'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1736504096737-source-1736730361523-target
      source: '1736504096737'
      sourceHandle: source
      target: '1736730361523'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1736730361523-source-1736730070532-target
      source: '1736730361523'
      sourceHandle: source
      target: '1736730070532'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1736730070532'
        sourceType: iteration-start
        targetType: code
      id: 1736730070532start-source-1736815880874-target
      source: 1736730070532start
      sourceHandle: source
      target: '1736815880874'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1736730070532'
        sourceType: code
        targetType: tool
      id: 1736815880874-source-1736763671940-target
      source: '1736815880874'
      sourceHandle: source
      target: '1736763671940'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1736730070532'
        sourceType: tool
        targetType: code
      id: 1736763671940-source-1736816241778-target
      source: '1736763671940'
      sourceHandle: source
      target: '1736816241778'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: user_no
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: user_no
      height: 90
      id: '1736504081372'
      position:
        x: 30
        y: 274
      positionAbsolute:
        x: 30
        y: 274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: 903bb04e-393d-4b1b-ba4c-3f2df35bba7a
        provider_name: 工作流-生成日报SQL
        provider_type: workflow
        selected: false
        title: 工作流-生成日报SQL
        tool_configurations:
          input: 用户日报
          user_no: '2689373'
        tool_label: 工作流-生成日报SQL
        tool_name: getUserDaily
        tool_parameters: {}
        type: tool
      height: 116
      id: '1736504096737'
      position:
        x: 334
        y: 274
      positionAbsolute:
        x: 334
        y: 274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1736730070532'
          - output
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1736504182584'
      position:
        x: 1994
        y: 274
      positionAbsolute:
        x: 1994
        y: 274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        is_parallel: false
        iterator_selector:
        - '1736730361523'
        - result
        output_selector:
        - '1736816241778'
        - result
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1736730070532start
        title: 迭代
        type: iteration
        width: 992
      height: 148
      id: '1736730070532'
      position:
        x: 898.4724718351938
        y: 265.29449436703874
      positionAbsolute:
        x: 898.4724718351938
        y: 265.29449436703874
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 992
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1736730070532start
      parentId: '1736730070532'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 922.4724718351938
        y: 333.29449436703874
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "import re\n\ndef extract_comments_and_sql(input_text):\n    \"\"\"\
          提取文本中的注释和 SQL 语句。\"\"\"\n    pattern = r\"(?P<index>\\d+)\\.\\s*\\*\\*(?P<description>.*?)\\\
          *\\*\\\\n`sql\\\\n(?P<sql1>.*?)`\\\\n\\*\\*适合图表\\*\\*: (?P<chart>.*?)\\\\\
          n|(?P<comment>-- .*?)\\n(?P<sql2>SELECT .*?;)\\n(?P<chart_info>-- .*?)\\\
          n\"\n\n    matches = re.finditer(pattern, input_text, re.DOTALL)\n    results\
          \ = []\n    for match in matches:\n        description = match.group('description')\
          \ or match.group('comment')\n        sql = match.group('sql1') or match.group('sql2')\n\
          \        results.append({\n            \"description\": description.strip()\
          \ if description else None,\n            \"sql\": sql.strip() if sql else\
          \ None # sql 也可能为 None\n        })\n    return results[:10]\n\ndef main(arg1:\
          \ list) -> dict:\n    \"\"\"处理输入列表并返回结果，包含可能的错误信息。\"\"\"\n    errors = []\n\
          \    try:\n        if not isinstance(arg1, list) or not arg1:\n        \
          \    errors.append(\"Input must be a non-empty list\")\n            return\
          \ {\"result\": [{\"errors\": errors}]}\n\n        first_item = arg1[0]\n\
          \        text = first_item.get(\"text\", \"\")\n        if not text:\n \
          \           errors.append(\"Missing 'text' in the first item of the input\
          \ list\")\n            return {\"result\": [{\"errors\": errors}]}\n\n \
          \       extracted_data = extract_comments_and_sql(text)\n        return\
          \ {\"result\": extracted_data} \n\n    except IndexError:\n        errors.append(\"\
          Input list is empty\")\n        return {\"result\": [{\"errors\": errors}]}\n\
          \    except Exception as e:\n        errors.append(str(e))\n        return\
          \ {\"result\": [{\"errors\": errors}]}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: 提取sql语句
        type: code
        variables:
        - value_selector:
          - '1736504096737'
          - json
          variable: arg1
      height: 54
      id: '1736730361523'
      position:
        x: 638
        y: 274
      positionAbsolute:
        x: 638
        y: 274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1736730070532'
        provider_id: a05d3a58-b4f3-4f97-b3e9-55fe1925ba19
        provider_name: 执行sql-测试
        provider_type: api
        selected: false
        title: executeQuery
        tool_configurations: {}
        tool_label: executeQuery
        tool_name: executeQuery
        tool_parameters:
          format:
            type: mixed
            value: json
          sql:
            type: mixed
            value: '{{#1736815880874.result#}}'
        type: tool
      height: 54
      id: '1736763671940'
      parentId: '1736730070532'
      position:
        x: 428
        y: 68
      positionAbsolute:
        x: 1326.4724718351938
        y: 333.29449436703874
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "def main(arg1: dict) -> dict:\n    try:\n        # 提取 SQL 字段，并去掉换行符和多余空格\n\
          \        sql = arg1.get('sql', '').replace(\"\\n\", \" \").strip()\n   \
          \     return {\n            \"result\": sql\n        }\n    except Exception\
          \ as e:\n        return {\n            \"result\": \"\"\n        }"
        code_language: python3
        desc: ''
        isInIteration: true
        iteration_id: '1736730070532'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 清理回车换行符
        type: code
        variables:
        - value_selector:
          - '1736730070532'
          - item
          variable: arg1
      height: 54
      id: '1736815880874'
      parentId: '1736730070532'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 1026.4724718351938
        y: 333.29449436703874
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    json_obj = json.loads(arg1)\n \
          \   return {\n        \"result\": json_obj[\"data\"] ,\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        iteration_id: '1736730070532'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 处理sql结果
        type: code
        variables:
        - value_selector:
          - '1736763671940'
          - text
          variable: arg1
      height: 54
      id: '1736816241778'
      parentId: '1736730070532'
      position:
        x: 732
        y: 66.57142857142856
      positionAbsolute:
        x: 1630.4724718351938
        y: 331.8659229384673
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    viewport:
      x: -245.13073028463555
      y: 198.49385394307288
      zoom: 0.7
