ai/post/20241225/日报.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 日报
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1737342621749-source-1737343038696-target
      source: '1737342621749'
      sourceHandle: source
      target: '1737343038696'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1737343038696-source-1737342730801-target
      source: '1737343038696'
      sourceHandle: source
      target: '1737342730801'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1737342730801-source-1737343307864-target
      source: '1737342730801'
      sourceHandle: source
      target: '1737343307864'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1737343307864-source-1737344381295-target
      source: '1737343307864'
      sourceHandle: source
      target: '1737344381295'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1737344381295-source-1737352024254-target
      source: '1737344381295'
      sourceHandle: source
      target: '1737352024254'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1737352024254-source-answer-target
      source: '1737352024254'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: managerUuid
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: managerUuid
      height: 90
      id: '1737342621749'
      position:
        x: 81
        y: 282
      positionAbsolute:
        x: 81
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1737352024254.result#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1993
        y: 282
      positionAbsolute:
        x: 1993
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: a05d3a58-b4f3-4f97-b3e9-55fe1925ba19
        provider_name: 执行sql-测试
        provider_type: api
        selected: false
        title: executeQuery
        tool_configurations: {}
        tool_label: executeQuery
        tool_name: executeQuery
        tool_parameters:
          format:
            type: mixed
            value: json
          sql:
            type: mixed
            value: '{{#1737343038696.result#}}'
        type: tool
      height: 54
      id: '1737342730801'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    return {\n        \"result\": \"\
          SELECT id FROM b2c_hm503.ecg_manager WHERE `uuid`='\"+arg1+\"';\",\n   \
          \ }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1737342621749'
          - managerUuid
          variable: arg1
      height: 54
      id: '1737343038696'
      position:
        x: 385
        y: 282
      positionAbsolute:
        x: 385
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(arg1: str) -> dict:\n    try:\n        outer_parsed\
          \ = json.loads(arg1)\n        # outer_parsed['arg1'] 是一个JSON字符串，先解析为JSON对象\n\
          \        inner_json_str = outer_parsed['data']\n        inner_parsed = json.loads(inner_json_str)\n\
          \        \n        id_value = inner_parsed[0][\"id\"]\n        \n      \
          \  return {\"result\": str(id_value)}\n    except Exception as e:\n    \
          \    return {\"result\": str(\"0\")}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1737342730801'
          - text
          variable: arg1
      height: 54
      id: '1737343307864'
      position:
        x: 1014
        y: 282
      positionAbsolute:
        x: 1014
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: dd00bbe2-98c1-44ff-b3c5-e53af5b73e75
        provider_name: 日报助手
        provider_type: workflow
        selected: false
        title: 日报助手
        tool_configurations:
          type: 用户日报
        tool_label: 日报助手
        tool_name: getDailyNews
        tool_parameters:
          user_no:
            type: mixed
            value: '{{#1737343307864.result#}}'
        type: tool
      height: 90
      id: '1737344381295'
      position:
        x: 1380
        y: 282
      positionAbsolute:
        x: 1380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    outer_parsed = json.loads(arg1)\n\
          \    return {\n        \"result\": outer_parsed[\"result\"],\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 3
        type: code
        variables:
        - value_selector:
          - '1737344381295'
          - text
          variable: arg1
      height: 54
      id: '1737352024254'
      position:
        x: 1693
        y: 282
      positionAbsolute:
        x: 1693
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -761
      y: 63.5
      zoom: 1
