ai/post/20241225/长篇文章生成.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "\u957F\u7BC7\u6587\u7AE0\u751F\u6210"
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1719540323594-source-1719540352362-target
      source: '1719540323594'
      sourceHandle: source
      target: '1719540352362'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1719540352362-source-1719554923177-target
      source: '1719540352362'
      sourceHandle: source
      target: '1719554923177'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1719554923177-source-1719555561244-target
      source: '1719554923177'
      sourceHandle: source
      target: '1719555561244'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 1719555561244-source-1719556793493-target
      source: '1719555561244'
      sourceHandle: source
      target: '1719556793493'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1719556793493-source-1719556826827-target
      source: '1719556793493'
      sourceHandle: source
      target: '1719556826827'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: "\u6587\u7AE0\u6807\u9898"
          max_length: 60
          options: []
          required: true
          type: text-input
          variable: title
        - label: "\u7AE0\u8282"
          max_length: 500
          options: []
          required: true
          type: paragraph
          variable: chapter
      height: 116
      id: '1719540323594'
      position:
        x: 31.7572268561658
        y: 301.5
      positionAbsolute:
        x: 31.7572268561658
        y: 301.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: glm-4
          provider: zhipuai
        prompt_template:
        - id: 5b0f3049-0212-4ece-93ea-d49088a155ce
          role: system
          text: ''
        - id: 69b8e4c3-5735-4aea-aa30-1c03e2ae39cb
          role: user
          text: "## \u89D2\u8272\uFF1A\u6587\u7AE0\u64B0\u5199\u4E13\u5BB6\n## \u6280\
            \u80FD\uFF1A\n\u4F60\u6839\u636E\u7528\u6237\u8F93\u5165\u7684\u6587\u7AE0\
            \u6807\u9898{{#1719540323594.title#}}\u548C\u5404\u7AE0\u8282\u540D\u79F0\
            {{#1719540323594.chapter#}}\uFF0C\u751F\u6210\u5404\u4E2A\u7AE0\u8282\u4E0B\
            \u7684\u5B50\u7AE0\u8282\u3002\n\n## \u76EE\u6807\uFF1A\n- \u786E\u4FDD\
            \u751F\u6210\u7684\u6BCF\u4E2A\u5B50\u7AE0\u8282\u548C\u7236\u7AE0\u8282\
            \u7D27\u5BC6\u76F8\u5173\u3002\n- \u7EB5\u89C2\u6574\u4F53\u7AE0\u8282\
            \uFF0C\u5FC5\u987B\u4FDD\u8BC1\u5404\u7AE0\u8282\u8FC7\u6E21\u8FDE\u8D2F\
            \u6D41\u7545\u3002\n- \u6700\u7EC8\u8F93\u51FAjson\u5B57\u7B26\u4E32\uFF0C\
            \u8BE6\u7EC6\u8BF7\u770B\u4EE5\u4E0B\u8F93\u51FA\u793A\u4F8B\u3002\n##\
            \ \u9650\u5236\uFF1A\n- \u8F93\u51FA\u7684json\u5B57\u7B26\u4E32\u5FC5\
            \u987B\u662F\u6807\u51C6json\u5B57\u7B26\u4E32\uFF0C\u4E0D\u8981\u5305\
            \u542B\u4EFB\u4F55XML\u6807\u7B7E\u548C\u8F6C\u4E49\u5B57\u7B26\uFF0C\u5982\
            `\\n`\u3002\n- \u4E25\u91CD\u6309\u7167\u8F93\u51FA\u793A\u4F8B\u4E2D\u7684\
            \u4F8B\u5B50\u8F93\u51FAjson\u5B57\u7B26\u4E32\uFF0C\u4E0D\u8981\u8F93\
            \u51FA\u5176\u4ED6\u4EFB\u4F55\u6587\u672C\u3002\n\n## \u8F93\u51FA\u793A\
            \u4F8B\uFF1A\n[ { \"chapter\": \"\u5F15\u8A00\", \"subchapter\": \"1.\
            \ \u6C14\u5019\u53D8\u5316\u5BF9\u6CBF\u6D77\u57CE\u5E02\u5F71\u54CD\u7684\
            \u6982\u8FF0 2. \u7406\u89E3\u8FD9\u4E9B\u5F71\u54CD\u7684\u91CD\u8981\
            \u6027\" }, { \"chapter\": \"\u6D77\u5E73\u9762\u4E0A\u5347\", \"subchapter\"\
            : \"1. \u6D77\u5E73\u9762\u4E0A\u5347\u7684\u539F\u56E0 2. \u5BF9\u6CBF\
            \u6D77\u57FA\u7840\u8BBE\u65BD\u548C\u793E\u533A\u7684\u5F71\u54CD 3.\
            \ \u53D7\u5F71\u54CD\u57CE\u5E02\u7684\u4F8B\u5B50\" }, { \"chapter\"\
            : \"\u98CE\u66B4\u9891\u7387\u589E\u52A0\", \"subchapter\": \"1. \u6C14\
            \u5019\u53D8\u5316\u4E0E\u98CE\u66B4\u9891\u7387\u7684\u5173\u8054 2.\
            \ \u66F4\u9891\u7E41\u548C\u4E25\u91CD\u7684\u98CE\u66B4\u5BF9\u6CBF\u6D77\
            \u5730\u533A\u7684\u5F71\u54CD 3. \u6700\u8FD1\u98CE\u66B4\u7684\u6848\
            \u4F8B\u7814\u7A76\" }, { \"chapter\": \"\u7ED3\u8BBA\", \"subchapter\"\
            : \"1. \u5173\u952E\u70B9\u603B\u7ED3 2. \u5E94\u5BF9\u6C14\u5019\u53D8\
            \u5316\u7684\u7D27\u8FEB\u6027 3. \u5BF9\u653F\u7B56\u5236\u5B9A\u8005\
            \u548C\u793E\u533A\u7684\u884C\u52A8\u547C\u5401\" } ] \n"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1719540352362'
      position:
        x: 335.829862237252
        y: 301.5
      positionAbsolute:
        x: 335.829862237252
        y: 301.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(arg1: str) -> dict:\n    import json\n    data = json.loads(arg1)\n\
          \    \n    # Create an array of objects\n    result = [{'chapter': item[\"\
          chapter\"], 'subchapter': item[\"subchapter\"]} for item in data]\n    \n\
          \    return {\n        'result': result\n    }"
        code_language: python3
        dependencies:
        - name: ''
          version: ''
        desc: ''
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: "\u4EE3\u7801\u6267\u884C"
        type: code
        variables:
        - value_selector:
          - '1719540352362'
          - text
          variable: arg1
      height: 54
      id: '1719554923177'
      position:
        x: 637.0799810219488
        y: 301.5
      positionAbsolute:
        x: 637.0799810219488
        y: 301.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        height: 203
        iterator_selector:
        - '1719554923177'
        - result
        output_selector:
        - '1719555564579'
        - text
        output_type: array[string]
        selected: false
        startNodeType: llm
        start_node_id: '1719555564579'
        title: "\u8FED\u4EE3"
        type: iteration
        width: 377
      height: 203
      id: '1719555561244'
      position:
        x: 941.0288110546064
        y: 301.5
      positionAbsolute:
        x: 941.0288110546064
        y: 301.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 377
      zIndex: 1
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        isIterationStart: true
        iteration_id: '1719555561244'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: glm-4
          provider: zhipuai
        prompt_template:
        - id: fc5a9ef9-75af-4f71-b775-d8fb805a83db
          role: system
          text: "\u4F60\u662F\u4E00\u4E2A\u6587\u7AE0\u64B0\u5199\u4E13\u5BB6\u3002\
            \u4F60\u7684\u5DE5\u4F5C\u662F\u5199\u957F\u5F62\u5F0F\u7684\u6709\u5438\
            \u5F15\u529B\u7684\u6587\u7AE0\u3002"
        - id: 091898f0-67e5-4524-9789-77b7871cb26e
          role: user
          text: "\u4F60\u6B63\u5728\u7F16\u5199\u4E00\u7BC7\u540D\u4E3A{{#1719540323594.title#}}\u7684\
            \u6587\u7AE0\uFF0C\u6839\u636E\u4EE5\u4E0B\u4FE1\u606F{{#1719555561244.item#}}\u5199\
            \u4E00\u4E2A\u7AE0\u8282\u3002\n\n\n\n\u751F\u6210\u5168\u6587\u65F6\u4EE5\
            \u5B8C\u6574\u7684\u5927\u7EB2\u4F5C\u4E3A\u53C2\u8003{{#1719540323594.chapter#}}"
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      extent: parent
      height: 98
      id: '1719555564579'
      parentId: '1719555561244'
      position:
        x: 117
        y: 85
      positionAbsolute:
        x: 1058.0288110546064
        y: 386.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1001
    - data:
        code: "def main(articleSections: list):\n    data = articleSections\n    return\
          \ {\n        \"result\": \"\\n\".join(data)\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: true
        title: "\u4EE3\u7801\u6267\u884C 2"
        type: code
        variables:
        - value_selector:
          - '1719555561244'
          - output
          variable: articleSections
      height: 54
      id: '1719556793493'
      position:
        x: 1377.057622109213
        y: 301.5
      positionAbsolute:
        x: 1377.057622109213
        y: 301.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1719556793493'
          - result
          variable: result
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 90
      id: '1719556826827'
      position:
        x: 1683
        y: 301.5
      positionAbsolute:
        x: 1683
        y: 301.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 26.342276819463564
      y: 239.91635527345528
      zoom: 0.5817981918631737
